In [1]:
import os
import pandas as pd

# Set the directory containing your CSV files
folder_path = 'C:\\Users\\krish\\abhinav\\Machine learning Project\\Season averages prediction\\data'

# Initialize an empty list to store dataframes
dfs = []

# Loop through all files in the directory
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        # Read each CSV file into a dataframe and append to the list
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        dfs.append(df)

# Concatenate all dataframes in the list along the rows
result = pd.concat(dfs, ignore_index=True)

# Now 'result' contains the concatenated dataframe

In [3]:
del result["Unnamed: 0"]

In [5]:
result.columns

Index(['games_played', 'player_id', 'season', 'min', 'fgm', 'fga', 'fg3m',
       'fg3a', 'ftm', 'fta', 'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk',
       'turnover', 'pf', 'pts', 'fg_pct', 'fg3_pct', 'ft_pct', 'first_name',
       'last_name', 'position', 'height_feet', 'height_inches',
       'weight_pounds', 'team_id', 'team_abbreviation', 'team_city',
       'team_conference', 'team_division', 'team_full_name', 'team_name'],
      dtype='object')

In [7]:
result.drop(columns = {'team_id', 'team_abbreviation', 'team_city',
       'team_conference', 'team_division', 'team_full_name', 'team_name'}, inplace = True)

In [8]:
result.to_csv("Season_averages_3.csv")

In [1]:
import pandas as pd

In [13]:
injury_1 = pd.read_csv("Injury data/NBA Player Injury Stats(1951 - 2023).csv")
del injury_1["Unnamed: 0"]
injury_2 = pd.read_csv("Injury data/injury_data_new.csv")

In [29]:
injury_1

,Date,Team,Acquired,Relinquished,Notes
0,1951-12-25,Bullets,NaN,Don Barksdale,placed on IL
1,1952-12-26,Knicks,NaN,Max Zaslofsky,placed on IL with torn side muscle
2,1956-12-29,Knicks,NaN,Jim Baechtold,placed on inactive list
3,1959-01-16,Lakers,NaN,Elgin Baylor,player refused to play after being denied a ro...
4,1961-11-26,Lakers,NaN,Elgin Baylor,player reported for military duty
...,...,...,...,...,...
37662,2023-04-16,Clippers,Marcus Morris,NaN,activated from IL
37663,2023-04-16,Grizzlies,Dillon Brooks,NaN,activated from IL
37664,2023-04-16,Grizzlies,Ja Morant,NaN,activated from IL
37665,2023-04-16,Grizzlies,Jaren Jackson Jr.,NaN,activated from IL
37666,2023-04-16,Grizzlies,Santi Aldama,NaN,activated from IL

In [17]:
injury_2

,Date,Team,Acquired,Relinquished,Notes
0,2016-10-25,Blazers,NaN,Festus Ezeli,placed on IL with sore left knee (out for season)
1,2016-10-25,Blazers,NaN,Tim Quarterman,placed on IL
2,2016-10-25,Cavaliers,NaN,Kahlil Felder / Kay Felder,placed on IL with concussion
3,2016-10-25,Jazz,NaN,Alec Burks,placed on IL with sore leg
4,2016-10-25,Jazz,NaN,Gordon Hayward,placed on IL with fractured left ring finger
...,...,...,...,...,...
16868,2025-01-12,Jazz,Brice Sensabaugh,NaN,activated from IL
16869,2025-01-12,Nets,Dariq Whitehead,NaN,activated from IL
16870,2025-01-12,Nuggets,Aaron Gordon,NaN,activated from IL
16871,2025-01-12,Suns,Royce O'Neale,NaN,activated from IL
16872,2025-01-12,Warriors,Stephen Curry,NaN,activated from IL

In [25]:
injury_total = pd.concat([injury_1, injury_2])

In [35]:
injury_total = injury_total.drop_duplicates()

In [37]:
injury_total.to_csv("Injury data/NBA Player Injury Stats(1951 - 2025).csv")

In [1]:
import pandas as pd

In [11]:
college_stats = pd.read_csv("college_stats.csv")

In [13]:
college_stats

,Player,Season,School,Conf,Class,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 29,SOS
0,Paolo Banchero,2021-22,Duke,ACC,FR,39.0,39.0,33.0,6.3,13.2,...,6.1,7.8,3.2,1.1,0.9,2.4,1.9,17.2,NaN,7.26
1,Chet Holmgren,2021-22,Gonzaga,WCC,FR,32.0,31.0,26.9,5.3,8.8,...,8.1,9.9,1.9,0.8,3.7,1.9,2.7,14.1,NaN,4.50
2,Jabari Smith Jr.,2021-22,Auburn,SEC,FR,34.0,34.0,28.8,5.4,12.6,...,6.5,7.4,2.0,1.1,1.0,1.9,2.1,16.9,NaN,8.17
3,Keegan Murray,2020-21,Iowa,Big Ten,FR,31.0,4.0,18.0,2.7,5.4,...,3.5,5.1,0.5,0.8,1.3,0.6,1.9,7.2,NaN,10.43
4,Keegan Murray,2021-22,Iowa,Big Ten,SO,35.0,35.0,31.9,8.8,15.8,...,5.8,8.7,1.5,1.3,1.9,1.1,1.9,23.5,NaN,6.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,Leonard White,1991-92,Southern,SWAC,JR,30.0,NaN,33.8,8.3,17.2,...,NaN,12.2,1.9,3.1,1.1,3.3,NaN,22.4,NaN,-9.99
4092,Leonard White,1992-93,Southern,SWAC,SR,30.0,30.0,33.4,7.3,16.1,...,NaN,10.1,1.8,2.5,0.8,3.1,3.2,20.6,NaN,-7.48
4093,Byron Wilson,1990-91,Utah,WAC,SO,32.0,30.0,21.3,3.0,7.1,...,NaN,3.0,1.5,0.8,0.5,1.7,2.4,8.7,NaN,3.80
4094,Byron Wilson,1991-92,Utah,WAC,JR,35.0,18.0,24.6,3.7,8.3,...,3.4,5.1,1.8,1.3,0.3,1.8,2.4,12.1,NaN,3.22
4095,Byron Wilson,1992-93,Utah,WAC,SR,31.0,31.0,30.1,4.4,9.3,...,NaN,5.7,2.8,1.3,0.3,2.1,2.5,12.5,NaN,2.28

In [47]:
college_stats_2022_23 = pd.read_csv("College_stats_2022-23.csv")

In [49]:
college_stats_2022_23['Season'] = '2022-23'
college_stats_2022_23.rename(columns = {'Team':'School'}, inplace = True)

In [51]:
college_stats_2022_23_aligned = college_stats_2022_23.reindex(columns=combined.columns)

In [55]:
college_stats_2022_23_aligned

,Player,Season,School,Conf,Class,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 29,SOS
0,Antoine Davis,2022-23,Detroit Mercy,NaN,SR,33,33,1234,303,732,...,86,100,120,41,2,109,69,930,NaN,NaN
1,Darius McGhee,2022-23,Liberty,NaN,SR,36,36,1150,274,624,...,103,118,107,58,6,68,42,821,NaN,NaN
2,Drew Timme,2022-23,Gonzaga,NaN,SR,37,37,1167,313,508,...,184,279,119,23,36,96,83,786,NaN,NaN
3,Zach Edey,2022-23,Purdue,NaN,JR,34,34,1077,290,478,...,252,438,52,8,72,77,56,757,NaN,NaN
4,Drew Pember,2022-23,UNC Asheville,NaN,SR,36,36,1204,211,455,...,270,332,83,31,86,124,89,755,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Carter Hendricksen,2022-23,North Florida,NaN,SR,31,31,980,168,371,...,155,193,64,20,12,63,52,511,NaN,NaN
196,Dae Dae Grant,2022-23,Duquesne,NaN,SR,33,33,1075,164,417,...,124,151,81,38,4,54,69,511,NaN,NaN
197,DJ Davis,2022-23,UC Irvine,NaN,JR,34,34,949,160,399,...,54,71,45,28,0,48,47,510,NaN,NaN
198,Sean Pedulla,2022-23,Virginia Tech,NaN,SO,34,34,1212,179,430,...,109,123,130,41,6,71,95,510,NaN,NaN
199,Seth Lundy,2022-23,Penn State,NaN,SR,36,36,1141,165,367,...,192,225,31,27,21,31,79,510,NaN,NaN

In [57]:
# concatenate along rows
combined = pd.concat([combined, college_stats_2022_23_aligned], ignore_index=True)

In [59]:
combined

,Player,Season,School,Conf,Class,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 29,SOS
0,Paolo Banchero,2021-22,Duke,ACC,FR,39.0,39.0,33.0,6.3,13.2,...,6.1,7.8,3.2,1.1,0.9,2.4,1.9,17.2,NaN,7.26
1,Chet Holmgren,2021-22,Gonzaga,WCC,FR,32.0,31.0,26.9,5.3,8.8,...,8.1,9.9,1.9,0.8,3.7,1.9,2.7,14.1,NaN,4.50
2,Jabari Smith Jr.,2021-22,Auburn,SEC,FR,34.0,34.0,28.8,5.4,12.6,...,6.5,7.4,2.0,1.1,1.0,1.9,2.1,16.9,NaN,8.17
3,Keegan Murray,2020-21,Iowa,Big Ten,FR,31.0,4.0,18.0,2.7,5.4,...,3.5,5.1,0.5,0.8,1.3,0.6,1.9,7.2,NaN,10.43
4,Keegan Murray,2021-22,Iowa,Big Ten,SO,35.0,35.0,31.9,8.8,15.8,...,5.8,8.7,1.5,1.3,1.9,1.1,1.9,23.5,NaN,6.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,Carter Hendricksen,2022-23,North Florida,NaN,SR,31.0,31.0,980.0,168.0,371.0,...,155.0,193.0,64.0,20.0,12.0,63.0,52.0,511.0,NaN,NaN
4492,Dae Dae Grant,2022-23,Duquesne,NaN,SR,33.0,33.0,1075.0,164.0,417.0,...,124.0,151.0,81.0,38.0,4.0,54.0,69.0,511.0,NaN,NaN
4493,DJ Davis,2022-23,UC Irvine,NaN,JR,34.0,34.0,949.0,160.0,399.0,...,54.0,71.0,45.0,28.0,0.0,48.0,47.0,510.0,NaN,NaN
4494,Sean Pedulla,2022-23,Virginia Tech,NaN,SO,34.0,34.0,1212.0,179.0,430.0,...,109.0,123.0,130.0,41.0,6.0,71.0,95.0,510.0,NaN,NaN
4495,Seth Lundy,2022-23,Penn State,NaN,SR,36.0,36.0,1141.0,165.0,367.0,...,192.0,225.0,31.0,27.0,21.0,31.0,79.0,510.0,NaN,NaN

In [63]:
college_stats_2023_24 = pd.read_csv("College_stats_2023-24.csv")

In [65]:
college_stats_2023_24['Season'] = '2023-24'
college_stats_2023_24.rename(columns = {'Team':'School'}, inplace = True)

In [67]:
college_stats_2023_24_aligned = college_stats_2023_24.reindex(columns=combined.columns)

In [69]:
college_stats_2023_24

,Rk,Player,PTS,Season,School,G,GS,MP,FG,FGA,...,PTS.1,FG%,2P%,3P%,FT%,TS%,eFG%,Pos,Class,Player-additional
0,1,Zach Edey,983,2023-24,Purdue,39,39,1248,336,539,...,983,0.623,0.624,0.500,0.711,0.659,0.624,C,SR,zach-edey-1
1,2,Tommy Bruner,816,2023-24,Denver,34,34,1148,262,602,...,816,0.435,0.486,0.353,0.808,0.562,0.503,G,SR,tommy-bruner-1
2,3,Mark Sears,797,2023-24,Alabama,37,37,1244,252,496,...,797,0.508,0.565,0.436,0.857,0.658,0.604,G,SR,mark-sears-1
3,4,RJ Davis,784,2023-24,North Carolina,37,37,1287,260,607,...,784,0.428,0.455,0.398,0.873,0.569,0.521,G,SR,rj-davis-1
4,5,Dalton Knecht,780,2023-24,Tennessee,36,36,1100,264,577,...,780,0.458,0.499,0.397,0.772,0.578,0.538,G,SR,dalton-knecht-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,Jalen Leach,519,2023-24,Fairfield,32,29,1048,181,371,...,519,0.488,0.560,0.354,0.895,0.604,0.550,G,SR,jalen-leach-1
196,197,Matthew Murrell,519,2023-24,Ole Miss,32,32,1052,178,384,...,519,0.464,0.532,0.398,0.739,0.592,0.565,G,SR,matthew-murrell-1
197,198,Max Shulga,519,2023-24,VCU,37,37,1213,146,327,...,519,0.446,0.500,0.415,0.876,0.643,0.578,G,SR,max-shulga-1
198,199,Myles Rice,519,2023-24,Washington State,35,35,1161,190,433,...,519,0.439,0.510,0.275,0.811,0.526,0.480,G,FR,myles-rice-1
199,200,Tylor Perry,519,2023-24,Kansas State,34,34,1238,133,372,...,519,0.358,0.426,0.335,0.909,0.570,0.483,G,SR,tylor-perry-1

In [71]:
# concatenate along rows
combined = pd.concat([combined, college_stats_2023_24], ignore_index=True)

In [75]:
combined.to_csv('college_stats_updated.csv')

In [85]:
import pandas as pd
import requests
from json.decoder import JSONDecodeError
import time

In [207]:
# Replace YOUR_API_KEY with your actual API key
api_key = "a06fc0a0-aa21-40a5-8abf-476308868dc9"

# URL of the API endpoint
url = f"https://api.balldontlie.io/v1/stats?seasons[]=2024&per_page=100&postseason=false&cursor=1"


# Headers containing the authorization token
headers = {
    "Authorization": f"{api_key}"
}

# Make the GET request to the API
response = requests.get(url, headers=headers)

In [209]:
response.text

'{"data":[{"id":15531180,"min":"30","fgm":14,"fga":18,"fg_pct":0.7777778,"fg3m":8,"fg3a":11,"fg3_pct":0.7272727,"ftm":1,"fta":2,"ft_pct":0.5,"oreb":0,"dreb":4,"reb":4,"ast":10,"stl":1,"blk":1,"turnover":1,"pf":1,"pts":37,"player":{"id":434,"first_name":"Jayson","last_name":"Tatum","position":"F","height":"6-8","weight":"210","jersey_number":"0","college":"Duke","country":"USA","draft_year":2017,"draft_round":1,"draft_number":3,"team_id":2},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531181,"min":"30","fgm":4,"fga":7,"fg_pct":0.5714286,"fg3m":3,"fg3a":5,"fg3_pct":0.6,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":3,"reb":3,"ast":5,"stl":1,"blk":1,"turnover":0,"pf":2,"pts":11,"player":{"id":219,"first_name":"Al","last_name":"Horford","position":"C-F","height":"6-9","weight":"240","jersey_number":"20","college":"Florida","country":"Dominican Republic","draft_year":2007,"draft_round":1,"draft_number":3,"team_id":10},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531182,"min":"27","fgm":8,"fga":13,"fg_pct":0.6153846,"fg3m":6,"fg3a":10,"fg3_pct":0.6,"ftm":2,"fta":2,"ft_pct":1,"oreb":0,"dreb":3,"reb":3,"ast":4,"stl":1,"blk":0,"turnover":0,"pf":1,"pts":24,"player":{"id":473,"first_name":"Derrick","last_name":"White","position":"G","height":"6-4","weight":"190","jersey_number":"9","college":"Colorado","country":"USA","draft_year":2017,"draft_round":1,"draft_number":29,"team_id":2},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531183,"min":"31","fgm":7,"fga":9,"fg_pct":0.7777778,"fg3m":4,"fg3a":6,"fg3_pct":0.6666667,"ftm":0,"fta":0,"ft_pct":0,"oreb":2,"dreb":2,"reb":4,"ast":4,"stl":1,"blk":0,"turnover":0,"pf":2,"pts":18,"player":{"id":214,"first_name":"Jrue","last_name":"Holiday","position":"G","height":"6-4","weight":"205","jersey_number":"5","college":"UCLA","country":"USA","draft_year":2009,"draft_round":1,"draft_number":17,"team_id":25},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531184,"min":"24","fgm":4,"fga":10,"fg_pct":0.4,"fg3m":2,"fg3a":7,"fg3_pct":0.2857143,"ftm":0,"fta":0,"ft_pct":0,"oreb":1,"dreb":4,"reb":5,"ast":1,"stl":0,"blk":0,"turnover":0,"pf":2,"pts":10,"player":{"id":17896060,"first_name":"Sam","last_name":"Hauser","position":"F","height":"6-7","weight":"217","jersey_number":"30","college":"Virginia","country":"USA","draft_year":null,"draft_round":null,"draft_number":null,"team_id":2},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531185,"min":"15","fgm":2,"fga":3,"fg_pct":0.6666667,"fg3m":0,"fg3a":0,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":2,"dreb":1,"reb":3,"ast":1,"stl":1,"blk":1,"turnover":0,"pf":0,"pts":4,"player":{"id":261,"first_name":"Luke","last_name":"Kornet","position":"F-C","height":"7-1","weight":"250","jersey_number":"7","college":"Vanderbilt","country":"USA","draft_year":null,"draft_round":null,"draft_number":null,"team_id":27},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531186,"min":"25","fgm":1,"fga":10,"fg_pct":0.1,"fg3m":1,"fg3a":9,"fg3_pct":0.1111111,"ftm":0,"fta":0,"ft_pct":0,"oreb":1,"dreb":3,"reb":4,"ast":4,"stl":0,"blk":0,"turnover":1,"pf":2,"pts":3,"player":{"id":3547276,"first_name":"Payton","last_name":"Pritchard","position":"G","height":"6-1","weight":"195","jersey_number":"11","college":"Oregon","country":"USA","draft_year":2020,"draft_round":1,"draft_number":26,"team_id":2},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531187,"min":"04","fgm":0,"fga":0,"fg_pct":0,"fg3m":0,"fg3a":0,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":0,"stl":0,"blk":0,"turnover":0,"pf":1,"pts":0,"player":{"id":17553967,"first_name":"Neemias","last_name":"Queta","position":"C","height":"7-0","weight":"248","jersey_number":"88","college":"Utah State","country":"Portugal","draft_year":2021,"draft_round":2,"draft_number":39,"team_id":2},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531188,"min":"00","fgm":0,"fga":0,"fg_pct":0,"fg3m":0,"fg3a":0,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":0,"stl":0,"blk":0,"turnover":0,"pf":0,"pts":0,"player":{"id":1028028434,"first_name":"Baylor","last_name":"Scheierman","position":"G","height":"6-6","weight":"205","jersey_number":"55","college":"Creighton","country":"USA","draft_year":2024,"draft_round":1,"draft_number":30,"team_id":2},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531189,"min":"00","fgm":0,"fga":0,"fg_pct":0,"fg3m":0,"fg3a":0,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":0,"stl":0,"blk":0,"turnover":0,"pf":0,"pts":0,"player":{"id":17896025,"first_name":"Jaden","last_name":"Springer","position":"G","height":"6-4","weight":"202","jersey_number":"9","college":"Tennessee","country":"USA","draft_year":2021,"draft_round":1,"draft_number":28,"team_id":19},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531190,"min":"18","fgm":1,"fga":6,"fg_pct":0.1666667,"fg3m":0,"fg3a":3,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":3,"dreb":4,"reb":7,"ast":2,"stl":0,"blk":0,"turnover":0,"pf":1,"pts":2,"player":{"id":3547285,"first_name":"Xavier","last_name":"Tillman","position":"F","height":"6-7","weight":"245","jersey_number":"26","college":"Michigan State","country":"USA","draft_year":2020,"draft_round":2,"draft_number":35,"team_id":2},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531191,"min":"06","fgm":0,"fga":1,"fg_pct":0,"fg3m":0,"fg3a":1,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":1,"stl":0,"blk":0,"turnover":0,"pf":0,"pts":0,"player":{"id":56677864,"first_name":"Jordan","last_name":"Walsh","position":"G","height":"6-6","weight":"205","jersey_number":"27","college":"Arkansas","country":"USA","draft_year":2023,"draft_round":2,"draft_number":38,"team_id":2},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531192,"min":"00","fgm":0,"fga":0,"fg_pct":0,"fg3m":0,"fg3a":0,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":0,"stl":0,"blk":0,"turnover":0,"pf":0,"pts":0,"player":{"id":38017707,"first_name":"JD","last_name":"Davison","position":"G","height":"6-1","weight":"195","jersey_number":"20","college":"Alabama","country":"USA","draft_year":2022,"draft_round":2,"draft_number":53,"team_id":11},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531193,"min":"00","fgm":0,"fga":0,"fg_pct":0,"fg3m":0,"fg3a":0,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":0,"stl":0,"blk":0,"turnover":0,"pf":0,"pts":0,"player":{"id":64270311,"first_name":"Drew","last_name":"Peterson","position":"F","height":"6-9","weight":"205","jersey_number":"13","college":"Southern California","country":"USA","draft_year":null,"draft_round":null,"draft_number":null,"team_id":4},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531194,"min":"00","fgm":0,"fga":0,"fg_pct":0,"fg3m":0,"fg3a":0,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":0,"stl":0,"blk":0,"turnover":0,"pf":0,"pts":0,"player":{"id":378,"first_name":"Kristaps","last_name":"Porzingis","position":"F-C","height":"7-2","weight":"240","jersey_number":"8","college":"Cajasol Sevilla","country":"Latvia","draft_year":2015,"draft_round":1,"draft_number":4,"team_id":1},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531195,"min":"00","fgm":0,"fga":0,"fg_pct":0,"fg3m":0,"fg3a":0,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":0,"stl":0,"blk":0,"turnover":0,"pf":0,"pts":0,"player":{"id":1028049017,"first_name":"Anton","last_name":"Watson","position":"F","height":"6-8","weight":"225","jersey_number":"28","college":"Gonzaga","country":"USA","draft_year":2024,"draft_round":2,"draft_number":54,"team_id":14},"team":{"id":2,"conference":"East","division":"Atlantic","city":"Boston","name":"Celtics","full_name":"Boston Celtics","abbreviation":"BOS"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531196,"min":"34","fgm":1,"fga":7,"fg_pct":0.1428571,"fg3m":0,"fg3a":4,"fg3_pct":0,"ftm":2,"fta":2,"ft_pct":1,"oreb":0,"dreb":5,"reb":5,"ast":3,"stl":1,"blk":0,"turnover":0,"pf":3,"pts":4,"player":{"id":18,"first_name":"OG","last_name":"Anunoby","position":"F","height":"6-7","weight":"240","jersey_number":"8","college":"Indiana","country":"United Kingdom","draft_year":2017,"draft_round":1,"draft_number":23,"team_id":20},"team":{"id":20,"conference":"East","division":"Atlantic","city":"New York","name":"Knicks","full_name":"New York Knicks","abbreviation":"NYK"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531197,"min":"25","fgm":4,"fga":6,"fg_pct":0.6666667,"fg3m":0,"fg3a":2,"fg3_pct":0,"ftm":4,"fta":6,"ft_pct":0.6666667,"oreb":1,"dreb":3,"reb":4,"ast":3,"stl":0,"blk":0,"turnover":1,"pf":0,"pts":12,"player":{"id":202,"first_name":"Josh","last_name":"Hart","position":"G","height":"6-4","weight":"215","jersey_number":"3","college":"Villanova","country":"USA","draft_year":2017,"draft_round":1,"draft_number":30,"team_id":20},"team":{"id":20,"conference":"East","division":"Atlantic","city":"New York","name":"Knicks","full_name":"New York Knicks","abbreviation":"NYK"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531198,"min":"24","fgm":5,"fga":9,"fg_pct":0.5555556,"fg3m":1,"fg3a":2,"fg3_pct":0.5,"ftm":1,"fta":1,"ft_pct":1,"oreb":0,"dreb":7,"reb":7,"ast":3,"stl":0,"blk":0,"turnover":0,"pf":1,"pts":12,"player":{"id":447,"first_name":"Karl-Anthony","last_name":"Towns","position":"C","height":"7-0","weight":"248","jersey_number":"32","college":"Kentucky","country":"USA","draft_year":2015,"draft_round":1,"draft_number":1,"team_id":20},"team":{"id":20,"conference":"East","division":"Atlantic","city":"New York","name":"Knicks","full_name":"New York Knicks","abbreviation":"NYK"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531199,"min":"35","fgm":7,"fga":13,"fg_pct":0.5384616,"fg3m":2,"fg3a":7,"fg3_pct":0.2857143,"ftm":0,"fta":1,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":2,"stl":0,"blk":0,"turnover":1,"pf":0,"pts":16,"player":{"id":61,"first_name":"Mikal","last_name":"Bridges","position":"F","height":"6-6","weight":"209","jersey_number":"25","college":"Villanova","country":"USA","draft_year":2018,"draft_round":1,"draft_number":10,"team_id":20},"team":{"id":20,"conference":"East","division":"Atlantic","city":"New York","name":"Knicks","full_name":"New York Knicks","abbreviation":"NYK"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531200,"min":"24","fgm":9,"fga":14,"fg_pct":0.6428571,"fg3m":1,"fg3a":2,"fg3_pct":0.5,"ftm":3,"fta":3,"ft_pct":1,"oreb":0,"dreb":1,"reb":1,"ast":2,"stl":0,"blk":0,"turnover":4,"pf":3,"pts":22,"player":{"id":73,"first_name":"Jalen","last_name":"Brunson","position":"G","height":"6-2","weight":"190","jersey_number":"11","college":"Villanova","country":"USA","draft_year":2018,"draft_round":2,"draft_number":33,"team_id":20},"team":{"id":20,"conference":"East","division":"Atlantic","city":"New York","name":"Knicks","full_name":"New York Knicks","abbreviation":"NYK"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531201,"min":"13","fgm":1,"fga":3,"fg_pct":0.3333333,"fg3m":1,"fg3a":2,"fg3_pct":0.5,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":1,"reb":1,"ast":0,"stl":0,"blk":0,"turnover":0,"pf":1,"pts":3,"player":{"id":1028025498,"first_name":"Pacome","last_name":"Dadiet","position":"F","height":"6-8","weight":"210","jersey_number":"4","college":"Ratiopharm Ulm","country":"France","draft_year":2024,"draft_round":1,"draft_number":25,"team_id":20},"team":{"id":20,"conference":"East","division":"Atlantic","city":"New York","name":"Knicks","full_name":"New York Knicks","abbreviation":"NYK"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531202,"min":"06","fgm":0,"fga":0,"fg_pct":0,"fg3m":0,"fg3a":0,"fg3_pct":0,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":4,"reb":4,"ast":0,"stl":0,"blk":1,"turnover":0,"pf":0,"pts":0,"player":{"id":1028046422,"first_name":"Ariel","last_name":"Hukporti","position":"C","height":"6-11","weight":"246","jersey_number":"55","college":"Riesen Ludwigsburg","country":"Germany","draft_year":2024,"draft_round":2,"draft_number":58,"team_id":20},"team":{"id":20,"conference":"East","division":"Atlantic","city":"New York","name":"Knicks","full_name":"New York Knicks","abbreviation":"NYK"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531203,"min":"05","fgm":1,"fga":2,"fg_pct":0.5,"fg3m":1,"fg3a":1,"fg3_pct":1,"ftm":0,"fta":0,"ft_pct":0,"oreb":0,"dreb":0,"reb":0,"ast":0,"stl":0,"blk":0,"turnover":2,"pf":0,"pts":3,"player":{"id":1028036898,"first_name":"Tyler","last_name":"Kolek","position":"G","height":"6-3","weight":"195","jersey_number":"13","college":"Marquette","country":"USA","draft_year":2024,"draft_round":2,"draft_number":34,"team_id":20},"team":{"id":20,"conference":"East","division":"Atlantic","city":"New York","name":"Knicks","full_name":"New York Knicks","abbreviation":"NYK"},"game":{"id":15907438,"date":"2024-10-22","season":2024,"status":"Final","period":4,"time":"Final","postseason":false,"home_team_score":132,"visitor_team_score":109,"datetime":"2024-10-22T23:30:00.000Z","home_team_id":2,"visitor_team_id":20}},{"id":15531204,"min":"26","fgm":8,"fga":10,"fg_pct":0.8,"fg3m":4,"fg3a":5,"fg3_pct":0.8,"ftm":2,"fta":3,"ft_pct":0.6666667,"oreb":0,"dreb":0,"reb":0,"ast":2,"stl":0,"blk":0,"turnover":1,"pf":1,"pts":22,"player":{"id":17896033,"first_name":"Miles","last_name":"McBride","position":"G","height":"6-1","weight":"195","jersey_number":"2","college":"West Virginia","country":"

In [211]:
(pd.DataFrame(response.json()['data']))[["id", "min", "fgm", "fga", "fg3m", "fg3a", "ftm", "fta", "oreb", "dreb", "reb", "ast", "stl", "blk", "turnover", "pf", "pts", "fg_pct", "fg3_pct", "ft_pct"]]

,id,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct
0,15531180,30,14,18,8,11,1,2,0,4,4,10,1,1,1,1,37,0.777778,0.727273,0.5
1,15531181,30,4,7,3,5,0,0,0,3,3,5,1,1,0,2,11,0.571429,0.600000,0.0
2,15531182,27,8,13,6,10,2,2,0,3,3,4,1,0,0,1,24,0.615385,0.600000,1.0
3,15531183,31,7,9,4,6,0,0,2,2,4,4,1,0,0,2,18,0.777778,0.666667,0.0
4,15531184,24,4,10,2,7,0,0,1,4,5,1,0,0,0,2,10,0.400000,0.285714,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,15536175,06,0,0,0,0,0,0,0,2,2,0,0,1,0,2,0,0.000000,0.000000,0.0
96,15536176,16,1,2,0,1,0,0,0,1,1,2,1,0,0,3,2,0.500000,0.000000,0.0
97,15536177,06,1,2,1,2,0,0,1,0,1,1,0,0,1,2,3,0.500000,0.500000,0.0
98,15536178,04,2,4,0,1,2,2,0,1,1,0,0,0,0,0,6,0.500000,0.000000,1.0
99,15536179,00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.0

In [433]:
# Creating a DataFrame
df_2023 = pd.DataFrame()

In [435]:
if response.status_code == 200:
    i = 0
    while True:
        print(i)
        # Creating a DataFrame
        #for j in x:
        #time.sleep(5)
        #print(i,j)
        #response = requests.get('https://api.balldontlie.io/v1/season_averages?season={}&player_ids[]={}'.format(i,j), headers=headers)
        headers = {
            "Authorization": f"{api_key}"
        }
        api_key = "a06fc0a0-aa21-40a5-8abf-476308868dc9"
        response = requests.get('https://api.balldontlie.io/v1/stats?seasons[]=2023&per_page=100&postseason=false&cursor={}'.format(i), headers = headers)
        # try:
        #     response_json = response.json()
        # except JSONDecodeError:
        #     print('Error decoding JSON for player ID', j, 'in season', i)
        #     new_row = pd.Series({'player_id':j, 'season':i})
        #     df_missing = df_missing.append(new_row, ignore_index=True)
        #     time.sleep(60)
        #     response = requests.get('https://api.balldontlie.io/v1/season_averages?season={}&player_ids[]={}'.format(i,j))
        # if (len((pd.DataFrame(response.json()['data']))) != 0):
        temp_df_1 = (pd.DataFrame(response.json()['data']))[["id", "min", "fgm", "fga", "fg3m", "fg3a", "ftm", "fta", "oreb", "dreb", "reb", "ast", "stl", "blk", "turnover", "pf", "pts", "fg_pct", "fg3_pct", "ft_pct"]]
        temp_df_2 = pd.DataFrame(list(pd.DataFrame(response.json()['data'])['game']))
        temp_df_3 = pd.DataFrame(list(pd.DataFrame(response.json()['data'])['player']))
        temp_df_1['season'] = temp_df_2['season']
        temp_df_1['player_id'] = temp_df_3['id']
        df_2023 = pd.concat([df_2023, temp_df_1], ignore_index=True)
        i = response.json()['meta']['next_cursor']
        time.sleep(1)
else:
    print('Error', response.status_code)

0
13934223
13934393
13934814
13937619
13942218
13943648
13943926
13945048
13947653
13950922
13951337
13955289
13955927
13957147
13959203
13959758
13960624
13965525
13967427
13967561
13967661
13968500
13972549
13975782
13978170
13978409
13980785
13983684
13984632
13985121
13989053
13991118
13991254
13991780
13992352
13994645
13999060
13999553
14000006
14000421
14005205
14009479
14010009
14010786
14015467
14015956
14018757
14020387
14020487
14023505
14024859
14027178
14027421
14029450
14031643
14033841
14034867
14036276
14039554
14039798
14040325
14043798
14046783
14047130
14050195
14051442
14052706
14055966
14056601
14056772
14060884
14062045
14064288
14064568
14065200
14065440
14069830
14073867
14074995
14075130
14078021
14080095
14082125
14083762
14085157
14088177
14088277
14091457
14091627
14092746
14096461
14096914
14099280
14100986
14101473
14104747
14106639
14107177
14110682
14112246
14113164
14114899
14118396
14119716
14120534
14120926
14123491
14127470
14128745
14129060
14129694
14131211
14134179
14137868
14138109
14138563
14139090
14144392
14146299
14149120
14149398
14149889
14151418
14155510
14157033
14159219
14159391
14160384
14164526
14165199
14166214
14168395
14171760
14173715
14174027
14175010
14177815
14180342
14181414
14182990
14183690
14184995
14189133
14189587
14190858
14193968
14195965
14198380
14199181
14199602
14200239
14204068
14207138
14208654
14209831
14210003
14213695
14215404
14216044
14219293
14220233
14222408
14224336
14224935
14226461
14230667
14232004
14234453
14235237
14238121
14238953
14239619
14243210
14243485
14247014
14247291
14247854
14249157
14251342
14256255
14256568
14257024
14258930
14261014
14264922
14265521
14268696
14269746
14270486
14273317
14274123
14277174
14279370
14280296
14280750
14282305
14286770
14287597
14289693
14290045
14290284
14295993
14296340
14296928
14300899
14301821
14304518
14305257
14307717
14308863
14311337
14313091
14313293
14314464
14318281
14319611
14321526
14322163
14325892
14326712
14327204
14331616
14332882
14334825
14335275
14336781
14339900
14341864
14343045
14344022
14347985
14348227
14350832
14352398
14353177
14355667
14358526
14359155
14360561
14363840
14365005
14367083
14367321
14367905
14370354
14374520
14374864
14377622
14378102
14378480
14383476
14384488
14385406
14385996
14386168
14391054
14391921
14394371
14395465
14396140
14397951
14399439
14400373
14402708
14404269
14406613
14406851
14409280
14410715
14411223
14413618
14415603
14417719
14419927
14420192
14420665
14424787
14425957
14426255
14426766
14430329
14431527
14433176
14434730
14434830
14434930
14435272
14440711
14442264
14442671
14443388
14445044
14449006
14449279
14451810
14452578
14455283
14457127
14458331
14458499
14461489
14463266
14465242
14465550
14466307
14469747
14471195
14472560
14474432
14475460
14477082
14478289
14478973
14481310
14482909
14483754
14485420
14486681
14488567
14488741
14490477
14491620
14491756
14494867
14495744
14497167
14498116
14499631
14501215
14502875
14503461
14505568
14507156
14507895
14517968
14518716
14519762
14523822
14529457
14531926
14564735
14566301
14582654
14582949
14583979
14607100
14607336
14609108
14622825
14623030
14631020
14633248
14636051
14666526
14673660
14687554
14688019
14689987
14708262
14708870
14722322
14722979
14725249
14743790
14744657
14762645
14763136
14765306
14783668
14785572
14785704
14807383
14809169
14826102
14826310
14826839
14830102
14855817
14857173
14866559
14866980
14867586
14869782
14900222
14905642
14906077
14906834
14910787
14938918
14948166
14948302
14949429
14953209
14978613
14979537
14996253
14996858
14999163
15020318
15020620
15021265
15045579
15046026
15059153
15059877
15060082
15061089
15091922
15093810
15104785
15105559
15105697
15108352
15144366
15144573
15145351
15145556
15149684
15182397
15182614
15183138
15204342
15205676
15217412
15217704
15218309
15218444
15223106
15257440
15257540
15257640
15261327
15261546
15261660
15321839
15326789

KeyError: 'next_cursor'

In [458]:
df_2023.dtypes

id             int64
min           object
fgm            int64
fga            int64
fg3m           int64
fg3a           int64
ftm            int64
fta            int64
oreb           int64
dreb           int64
reb            int64
ast            int64
stl            int64
blk            int64
turnover       int64
pf             int64
pts            int64
fg_pct       float64
fg3_pct      float64
ft_pct       float64
season         int64
player_id      int64
dtype: object

In [460]:
import pandas as pd
df_2023.to_csv('data/Season_per_game_stats_2023.csv')

In [462]:
df_2023['min'] = df_2023['min'].astype('int')

In [464]:
df_2023 = df_2023[df_2023['min'] != 0]

In [466]:
df_2023

,id,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,season,player_id
0,13932867,30,5,13,2,9,0,0,2,10,12,2,2,0,0,1,12,0.384615,0.222222,0.0,2023,375
1,13932868,35,7,11,1,2,0,0,2,5,7,5,2,1,0,0,15,0.636364,0.500000,0.0,2023,177
2,13932869,36,12,22,3,5,2,4,3,10,13,11,1,1,2,2,29,0.545455,0.600000,0.5,2023,246
3,13932870,36,8,12,2,3,2,2,1,1,2,1,3,1,3,5,20,0.666667,0.666667,1.0,2023,81
4,13932871,34,8,13,3,5,2,2,0,2,2,6,0,1,1,3,21,0.615385,0.600000,1.0,2023,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43608,15326798,36,3,8,1,2,0,0,0,2,2,3,1,2,4,1,7,0.375000,0.500000,0.0,2023,303
43609,15326799,24,4,8,1,1,1,1,0,5,5,2,2,1,0,0,10,0.500000,1.000000,1.0,2023,17896097
43610,15326800,2,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0.000000,0.000000,0.0,2023,38017677
43613,15326803,24,5,11,1,4,0,0,2,4,6,2,2,1,0,2,11,0.454545,0.250000,0.0,2023,3547293
43614,15326804,21,6,7,0,0,1,2,2,2,4,3,2,0,0,4,13,0.857143,0.000000,0.5,2023,340

In [468]:
df_percentage = df_2023.groupby('player_id')[['min', 'fgm', 'fga', 'fg3m', 'fg3a', 'ftm', 'fta', 'oreb', 'dreb',
       'reb', 'ast', 'stl', 'blk', 'turnover', 'pf', 'pts']].sum().reset_index()

In [470]:
df_percentage['fg_pct'] = df_percentage['fgm']/df_percentage['fga']
df_percentage['fg3_pct'] = df_percentage['fg3m']/df_percentage['fg3a']
df_percentage['ft_pct'] = df_percentage['ftm']/df_percentage['fta']

In [472]:
df_percentage

,player_id,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct
0,4,2476,540,1035,16,46,294,391,163,590,753,283,81,71,164,162,1390,0.521739,0.347826,0.751918
1,8,2509,340,682,205,445,129,147,47,247,294,227,69,44,95,157,1014,0.498534,0.460674,0.877551
2,9,2430,519,819,0,6,233,314,243,569,812,208,53,81,121,147,1271,0.633700,0.000000,0.742038
3,12,1778,199,433,11,48,97,137,60,213,273,331,69,47,89,128,506,0.459584,0.229167,0.708029
4,15,2570,837,1370,34,124,514,782,196,643,839,476,85,79,248,210,2222,0.610949,0.274194,0.657289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,1015298615,3,2,5,0,1,0,0,1,1,2,0,0,0,0,0,4,0.400000,0.000000,NaN
568,1016384149,151,29,67,10,36,17,22,6,30,36,13,5,7,10,28,85,0.432836,0.277778,0.772727
569,1017051787,120,18,35,5,13,7,10,11,26,37,2,6,4,5,10,48,0.514286,0.384615,0.700000
570,1018685894,106,9,34,1,5,0,2,15,23,38,2,3,4,3,15,19,0.264706,0.200000,0.000000
571,1019069810,124,6,23,0,7,1,2,4,13,17,5,4,0,2,18,13,0.260870,0.000000,0.500000

In [474]:
df_2023_aggregates = df_2023.groupby('player_id')[['min', 'fgm', 'fga', 'fg3m', 'fg3a', 'ftm', 'fta', 'oreb', 'dreb',
       'reb', 'ast', 'stl', 'blk', 'turnover', 'pf', 'pts']].mean().reset_index()

In [476]:
df_2023['season'] = 2023

In [478]:
df_2023

,id,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,season,player_id
0,13932867,30,5,13,2,9,0,0,2,10,12,2,2,0,0,1,12,0.384615,0.222222,0.0,2023,375
1,13932868,35,7,11,1,2,0,0,2,5,7,5,2,1,0,0,15,0.636364,0.500000,0.0,2023,177
2,13932869,36,12,22,3,5,2,4,3,10,13,11,1,1,2,2,29,0.545455,0.600000,0.5,2023,246
3,13932870,36,8,12,2,3,2,2,1,1,2,1,3,1,3,5,20,0.666667,0.666667,1.0,2023,81
4,13932871,34,8,13,3,5,2,2,0,2,2,6,0,1,1,3,21,0.615385,0.600000,1.0,2023,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43608,15326798,36,3,8,1,2,0,0,0,2,2,3,1,2,4,1,7,0.375000,0.500000,0.0,2023,303
43609,15326799,24,4,8,1,1,1,1,0,5,5,2,2,1,0,0,10,0.500000,1.000000,1.0,2023,17896097
43610,15326800,2,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0.000000,0.000000,0.0,2023,38017677
43613,15326803,24,5,11,1,4,0,0,2,4,6,2,2,1,0,2,11,0.454545,0.250000,0.0,2023,3547293
43614,15326804,21,6,7,0,0,1,2,2,2,4,3,2,0,0,4,13,0.857143,0.000000,0.5,2023,340

In [480]:
df_count = df_2023.groupby('player_id').count().reset_index()

In [482]:
df_count = df_count[['player_id', 'id']]
df_count.rename(columns = {'id':'games_played'}, inplace = True)

In [484]:
df_count

      player_id  games_played
0             4            73
1             8            75
2             9            77
3            12            79
4            15            73
..          ...           ...
567  1015298615             1
568  1016384149            10
569  1017051787             7
570  1018685894             7
571  1019069810             5

[572 rows x 2 columns]

In [486]:
df_final = df_2023_aggregates.merge(df_percentage[['player_id', 'fg_pct', 'fg3_pct', 'ft_pct']], on = 'player_id', how = 'left')

In [488]:
df_final

,player_id,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct
0,4,33.917808,7.397260,14.178082,0.219178,0.630137,4.027397,5.356164,2.232877,8.082192,10.315068,3.876712,1.109589,0.972603,2.246575,2.219178,19.041096,0.521739,0.347826,0.751918
1,8,33.453333,4.533333,9.093333,2.733333,5.933333,1.720000,1.960000,0.626667,3.293333,3.920000,3.026667,0.920000,0.586667,1.266667,2.093333,13.520000,0.498534,0.460674,0.877551
2,9,31.558442,6.740260,10.636364,0.000000,0.077922,3.025974,4.077922,3.155844,7.389610,10.545455,2.701299,0.688312,1.051948,1.571429,1.909091,16.506494,0.633700,0.000000,0.742038
3,12,22.506329,2.518987,5.481013,0.139241,0.607595,1.227848,1.734177,0.759494,2.696203,3.455696,4.189873,0.873418,0.594937,1.126582,1.620253,6.405063,0.459584,0.229167,0.708029
4,15,35.205479,11.465753,18.767123,0.465753,1.698630,7.041096,10.712329,2.684932,8.808219,11.493151,6.520548,1.164384,1.082192,3.397260,2.876712,30.438356,0.610949,0.274194,0.657289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,1015298615,3.000000,2.000000,5.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.400000,0.000000,NaN
568,1016384149,15.100000,2.900000,6.700000,1.000000,3.600000,1.700000,2.200000,0.600000,3.000000,3.600000,1.300000,0.500000,0.700000,1.000000,2.800000,8.500000,0.432836,0.277778,0.772727
569,1017051787,17.142857,2.571429,5.000000,0.714286,1.857143,1.000000,1.428571,1.571429,3.714286,5.285714,0.285714,0.857143,0.571429,0.714286,1.428571,6.857143,0.514286,0.384615,0.700000
570,1018685894,15.142857,1.285714,4.857143,0.142857,0.714286,0.000000,0.285714,2.142857,3.285714,5.428571,0.285714,0.428571,0.571429,0.428571,2.142857,2.714286,0.264706,0.200000,0.000000
571,1019069810,24.800000,1.200000,4.600000,0.000000,1.400000,0.200000,0.400000,0.800000,2.600000,3.400000,1.000000,0.800000,0.000000,0.400000,3.600000,2.600000,0.260870,0.000000,0.500000

In [490]:
df_final = df_final.merge(df_count, on = 'player_id', how = 'left')

In [492]:
pd.set_option('display.max_columns', None)

In [494]:
df_final['season'] = 2023

In [496]:
df_final.to_csv('data/Season_averages_2023.csv')

In [498]:
df_final[df_final['player_id'] == 117]

,player_id,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,games_played,season
49,117,35.653846,9.423077,16.961538,0.371795,1.371795,5.615385,6.910256,3.205128,9.564103,12.769231,3.487179,1.192308,2.371795,2.128205,2.346154,24.833333,0.555556,0.271028,0.812616,78,2023

In [500]:
data = pd.read_csv("Season_averages_NBA_1960-2024.csv")

In [502]:
data = data.dropna(subset=['season'])

In [504]:
data = data[data['season'] != 2023]

In [506]:
data = data.sort_values('season', ascending = True)

In [508]:
data_final = pd.concat([data, df_final])

In [510]:
del data_final['Unnamed: 0']

In [512]:
data_final = data_final[data_final['games_played'] != 0]

In [514]:
data_final = data_final.sort_values('season', ascending = True)

In [516]:
data_final

,games_played,player_id,season,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,id,first_name,last_name,position,weight_pounds,team_id,team_conference,team_division,team_city,team_name,team_full_name,team_abbreviation,height_feet,height_inches
0,12,46397639,1960.0,20:45,3.333000,8.333000,0.000000,0.000000,0.750000,1.167000,0.000000,0.000000,6.750000,0.417000,0.000000,0.000000,0.000000,2.167000,7.417000,0.400000,0.000000,0.643000,4.639764e+07,Mike,Farmer,NaN,210.0,1.0,East,Southeast,Atlanta,Hawks,Atlanta Hawks,ATL,6.0,7.0
20,12,46396114,1960.0,40:20,8.667000,20.333000,0.000000,0.000000,7.417000,8.833000,0.000000,0.000000,6.833000,3.583000,0.000000,0.000000,0.000000,4.167000,24.750000,0.426000,0.000000,0.840000,4.639611e+07,Richie,Guerin,NaN,195.0,20.0,East,Atlantic,New York,Knicks,New York Knicks,NYK,6.0,4.0
45,9,46397647,1960.0,18:06,3.889000,11.222000,0.000000,0.000000,1.333000,1.778000,0.000000,0.000000,3.111000,1.444000,0.000000,0.000000,0.000000,1.444000,9.111000,0.347000,0.000000,0.750000,4.639765e+07,Vern,Hatton,NaN,195.0,10.0,West,Pacific,Golden State,Warriors,Golden State Warriors,GSW,6.0,3.0
1,21,46398664,1960.0,16:11,2.381000,5.762000,0.000000,0.000000,1.381000,2.095000,0.000000,0.000000,5.619000,0.381000,0.000000,0.000000,0.000000,2.286000,6.143000,0.413000,0.000000,0.659000,4.639866e+07,Harvey,Halbrook,NaN,235.0,23.0,East,Atlantic,Philadelphia,76ers,Philadelphia 76ers,PHI,7.0,3.0
2,12,46398663,1960.0,23:10,4.583000,10.083000,0.000000,0.000000,4.083000,5.500000,0.000000,0.000000,5.417000,0.500000,0.000000,0.000000,0.000000,1.250000,13.250000,0.455000,0.000000,0.742000,4.639866e+07,George,Lee,NaN,200.0,9.0,East,Central,Detroit,Pistons,Detroit Pistons,DET,6.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23103,72,1028035794,2024.0,21.11111111111111,3.611111,7.194444,1.069444,3.055556,1.291667,1.986111,1.555556,4.555556,6.111111,1.944444,0.666667,0.305556,1.416667,2.375000,9.583333,0.501931,0.350000,0.650350,1.028036e+09,Kyle,Filipowski,C,250.0,29.0,West,Northwest,Utah,Jazz,Utah Jazz,UTA,6.0,11.0
23102,36,666451,2024.0,12.472222222222221,2.666667,5.083333,0.888889,2.583333,0.555556,0.722222,0.555556,2.333333,2.888889,0.611111,0.250000,0.694444,0.555556,0.555556,6.777778,0.524590,0.344086,0.769231,6.664510e+05,Bol,Bol,C,220.0,24.0,West,Pacific,Phoenix,Suns,Phoenix Suns,PHX,7.0,3.0
23669,63,12,2024.0,16.46031746031746,2.285714,4.888889,0.412698,1.126984,0.761905,1.063492,0.841270,2.476190,3.317460,2.412698,0.650794,0.571429,0.603175,1.333333,5.746032,0.467532,0.366197,0.716418,1.200000e+01,Kyle,Anderson,F,230.0,16.0,East,Southeast,Miami,Heat,Miami Heat,MIA,6.0,9.0
23116,2,1042461962,2024.0,8.0,0.500000,1.500000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,1.500000,2.000000,1.000000,0.000000,0.000000,2.500000,1.000000,0.333333,NaN,NaN,1.042462e+09,Yuri,Collins,G,190.0,10.0,West,Pacific,Golden State,Warriors,Golden State Warriors,GSW,6.0,0.0
23340,42,19465326,2024.0,11.904761904761905,1.928571,3.595238,0.261905,0.595238,0.642857,0.952381,1.333333,1.928571,3.261905,0.880952,0.333333,0.238095,0.500000,1.166667,4.761905,0.536424,0.440000,0.675000,1.946533e+07,Jock,Landale,C,255.0,11.0,West,Southwest,Houston,Rockets,Houston Rockets,HOU,6.0,11.0

In [518]:
data_final.to_csv("Season_averages_NBA_1960-2024.csv")

In [520]:
data_final = pd.read_csv("Season_averages_NBA_1960-2024.csv")

In [522]:
del data_final['Unnamed: 0']
del data_final['Unnamed: 0.1']

KeyError: 'Unnamed: 0.1'

In [524]:
data_final.columns

Index(['games_played', 'player_id', 'season', 'min', 'fgm', 'fga', 'fg3m',
       'fg3a', 'ftm', 'fta', 'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk',
       'turnover', 'pf', 'pts', 'fg_pct', 'fg3_pct', 'ft_pct', 'id',
       'first_name', 'last_name', 'position', 'weight_pounds', 'team_id',
       'team_conference', 'team_division', 'team_city', 'team_name',
       'team_full_name', 'team_abbreviation', 'height_feet', 'height_inches'],
      dtype='object')

In [526]:
data_final = data_final.drop(
    columns=['id',
       'first_name', 'last_name', 'position', 'weight_pounds', 'team_id',
       'team_conference', 'team_division', 'team_city', 'team_name',
       'team_full_name', 'team_abbreviation', 'height_feet', 'height_inches']
)

In [528]:
data_final = data_final.merge(player_info, left_on = 'player_id', right_on = 'id', how = 'left')

In [530]:
data_final

,games_played,player_id,season,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,id,first_name,last_name,position,weight_pounds,team_id,team_conference,team_division,team_city,team_name,team_full_name,team_abbreviation,height_feet,height_inches
0,12,46397639,1960.0,20:45,3.333000,8.333000,0.000000,0.000000,0.750000,1.167000,0.000000,0.000000,6.750000,0.417000,0.000000,0.000000,0.000000,2.167000,7.417000,0.400000,0.000000,0.643000,4.639764e+07,Mike,Farmer,NaN,210.0,1.0,East,Southeast,Atlanta,Hawks,Atlanta Hawks,ATL,6.0,7.0
1,12,46396114,1960.0,40:20,8.667000,20.333000,0.000000,0.000000,7.417000,8.833000,0.000000,0.000000,6.833000,3.583000,0.000000,0.000000,0.000000,4.167000,24.750000,0.426000,0.000000,0.840000,4.639611e+07,Richie,Guerin,NaN,195.0,20.0,East,Atlantic,New York,Knicks,New York Knicks,NYK,6.0,4.0
2,9,46397647,1960.0,18:06,3.889000,11.222000,0.000000,0.000000,1.333000,1.778000,0.000000,0.000000,3.111000,1.444000,0.000000,0.000000,0.000000,1.444000,9.111000,0.347000,0.000000,0.750000,4.639765e+07,Vern,Hatton,NaN,195.0,10.0,West,Pacific,Golden State,Warriors,Golden State Warriors,GSW,6.0,3.0
3,21,46398664,1960.0,16:11,2.381000,5.762000,0.000000,0.000000,1.381000,2.095000,0.000000,0.000000,5.619000,0.381000,0.000000,0.000000,0.000000,2.286000,6.143000,0.413000,0.000000,0.659000,4.639866e+07,Harvey,Halbrook,NaN,235.0,23.0,East,Atlantic,Philadelphia,76ers,Philadelphia 76ers,PHI,7.0,3.0
4,12,46398663,1960.0,23:10,4.583000,10.083000,0.000000,0.000000,4.083000,5.500000,0.000000,0.000000,5.417000,0.500000,0.000000,0.000000,0.000000,1.250000,13.250000,0.455000,0.000000,0.742000,4.639866e+07,George,Lee,NaN,200.0,9.0,East,Central,Detroit,Pistons,Detroit Pistons,DET,6.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23668,72,1028035794,2024.0,21.11111111111111,3.611111,7.194444,1.069444,3.055556,1.291667,1.986111,1.555556,4.555556,6.111111,1.944444,0.666667,0.305556,1.416667,2.375000,9.583333,0.501931,0.350000,0.650350,1.028036e+09,Kyle,Filipowski,C,250.0,29.0,West,Northwest,Utah,Jazz,Utah Jazz,UTA,6.0,11.0
23669,36,666451,2024.0,12.472222222222221,2.666667,5.083333,0.888889,2.583333,0.555556,0.722222,0.555556,2.333333,2.888889,0.611111,0.250000,0.694444,0.555556,0.555556,6.777778,0.524590,0.344086,0.769231,6.664510e+05,Bol,Bol,C,220.0,24.0,West,Pacific,Phoenix,Suns,Phoenix Suns,PHX,7.0,3.0
23670,63,12,2024.0,16.46031746031746,2.285714,4.888889,0.412698,1.126984,0.761905,1.063492,0.841270,2.476190,3.317460,2.412698,0.650794,0.571429,0.603175,1.333333,5.746032,0.467532,0.366197,0.716418,1.200000e+01,Kyle,Anderson,F,230.0,16.0,East,Southeast,Miami,Heat,Miami Heat,MIA,6.0,9.0
23671,2,1042461962,2024.0,8.0,0.500000,1.500000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,1.500000,2.000000,1.000000,0.000000,0.000000,2.500000,1.000000,0.333333,NaN,NaN,1.042462e+09,Yuri,Collins,G,190.0,10.0,West,Pacific,Golden State,Warriors,Golden State Warriors,GSW,6.0,0.0
23672,42,19465326,2024.0,11.904761904761905,1.928571,3.595238,0.261905,0.595238,0.642857,0.952381,1.333333,1.928571,3.261905,0.880952,0.333333,0.238095,0.500000,1.166667,4.761905,0.536424,0.440000,0.675000,1.946533e+07,Jock,Landale,C,255.0,11.0,West,Southwest,Houston,Rockets,Houston Rockets,HOU,6.0,11.0

In [532]:
data_final[data_final['player_id'] == 117]

,games_played,player_id,season,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,id,first_name,last_name,position,weight_pounds,team_id,team_conference,team_division,team_city,team_name,team_full_name,team_abbreviation,height_feet,height_inches
17023,64,117,2012.0,28:53,5.450000,10.560000,0.000000,0.090000,2.640000,3.520000,2.580000,5.580000,8.160000,0.980000,1.170000,1.750000,1.390000,2.470000,13.550000,0.516000,0.000000,0.751000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
17401,67,117,2013.0,35:11,7.791000,15.000000,0.030000,0.134000,5.194000,6.567000,3.090000,6.955000,10.045000,1.567000,1.328000,2.821000,1.627000,2.985000,20.806000,0.519000,0.222000,0.791000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
17944,68,117,2014.0,36:06,9.441000,17.632000,0.015000,0.176000,5.456000,6.779000,2.544000,7.691000,10.235000,2.191000,1.471000,2.941000,1.397000,2.074000,24.353000,0.535000,0.083000,0.805000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
18186,61,117,2015.0,35:28,9.180000,18.623000,0.574000,1.770000,5.344000,7.049000,2.131000,8.148000,10.279000,1.902000,1.279000,2.049000,1.984000,2.426000,24.279000,0.493000,0.324000,0.758000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
18801,75,117,2016.0,36:06,10.267000,20.347000,0.533000,1.787000,6.920000,8.627000,2.293000,9.493000,11.787000,2.093000,1.253000,2.227000,2.413000,2.240000,27.987000,0.505000,0.299000,0.802000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
19020,75,117,2017.0,36:21,10.400000,19.493000,0.733000,2.160000,6.600000,7.973000,2.493000,8.587000,11.080000,2.320000,1.533000,2.573000,2.160000,2.120000,28.133000,0.534000,0.340000,0.828000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
19601,56,117,2018.0,33:02,9.464000,18.321000,0.857000,2.589000,6.143000,7.732000,3.107000,8.893000,12.000000,3.893000,1.571000,2.411000,2.000000,2.357000,25.929000,0.517000,0.331000,0.794000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
20220,62,117,2019.0,34:22,8.887000,17.677000,1.161000,3.516000,7.161000,8.468000,2.290000,7.016000,9.306000,3.226000,1.468000,2.306000,2.484000,2.516000,26.097000,0.503000,0.330000,0.846000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
20766,36,117,2020.0,32:15,8.361000,17.028000,0.722000,2.778000,4.389000,5.944000,1.722000,6.222000,7.944000,3.056000,1.250000,1.639000,2.056000,1.667000,21.833000,0.491000,0.260000,0.738000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
21873,39,117,2021.0,35:09,9.256000,17.436000,0.333000,1.769000,4.462000,6.256000,2.667000,7.205000,9.872000,3.026000,1.256000,2.256000,2.077000,2.385000,23.308000,0.531000,0.188000,0.713000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
22422,57,117,2022.0,34:11,9.684000,17.211000,0.333000,1.316000,6.175000,7.895000,3.579000,9.000000,12.579000,2.667000,1.070000,2.053000,2.228000,2.614000,25.877000,0.563000,0.253000,0.782000,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
22684,78,117,2023.0,35.65384615384615,9.423077,16.961538,0.371795,1.371795,5.615385,6.910256,3.205128,9.564103,12.769231,3.487179,1.192308,2.371795,2.128205,2.346154,24.833333,0.555556,0.271028,0.812616,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0
23148,53,117,2024.0,33.528301886792455,9.339623,18.150943,0.754717,2.584906,5.622642,7.226415,2.641509,8.830189,11.471698,3.471698,1.150943,2.169811,2.188679,1.886792,25.056604,0.514553,0.291971,0.778068,117.0,Anthony,Davis,F-C,253.0,7.0,West,Southwest,Dallas,Mavericks,Dallas Mavericks,DAL,6.0,10.0

In [534]:
data_final.to_csv("Season_averages_NBA_1960-2024.csv")

In [159]:
data_final = pd.read_csv("Season_averages_NBA_1960-2024.csv")

In [161]:
data_final = data_final[data_final['season'] != 2024]

In [165]:
del data_final['Unnamed: 0']
del data_final['Unnamed: 0.1']
del data_final['Unnamed: 0.2']

In [ ]:
data_final

In [35]:
data_2023 = pd.read_csv('data/Season_averages_2023.csv')

In [37]:
data_2023

,Unnamed: 0,player_id,season,pts,ast,reb,fgm,fga,fg3m,fg3a,...,fta,stl,blk,turnover,pf,min,fg_pct,fg3_pct,ft_pct,games_played
0,0,4,2023,19.269231,3.871795,10.256410,7.538462,14.512821,0.230769,0.717949,...,5.282051,1.064103,0.910256,2.205128,2.269231,34.205128,0.530181,0.142694,0.695466,78
1,1,8,2023,13.259740,2.974026,3.922078,4.428571,8.922078,2.675325,5.844156,...,1.961039,0.909091,0.571429,1.272727,2.090909,33.142857,0.489364,0.440731,0.585000,77
2,2,9,2023,16.530864,2.629630,10.703704,6.716049,10.567901,0.000000,0.074074,...,4.197531,0.716049,1.049383,1.555556,1.913580,31.567901,0.645041,0.000000,0.647301,81
3,3,12,2023,6.063830,3.925532,3.329787,2.393617,5.212766,0.138298,0.595745,...,1.585106,0.840426,0.553191,1.053191,1.638298,21.361702,0.466886,0.095644,0.417037,94
4,4,15,2023,30.438356,6.520548,11.493151,11.465753,18.767123,0.465753,1.698630,...,10.712329,1.164384,1.082192,3.397260,2.876712,35.205479,0.613039,0.225595,0.632134,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,558,64269817,2023,1.320000,0.360000,2.600000,0.480000,1.120000,0.000000,0.000000,...,0.480000,0.240000,0.560000,0.560000,2.560000,12.320000,0.300000,0.000000,0.180000,25
559,559,64269931,2023,4.500000,1.250000,2.000000,2.000000,4.750000,0.250000,1.750000,...,0.500000,0.500000,0.000000,0.750000,1.000000,10.000000,0.589286,0.050000,0.125000,4
560,560,64270026,2023,0.375000,0.000000,0.375000,0.125000,0.750000,0.125000,0.125000,...,0.250000,0.125000,0.000000,0.125000,0.250000,3.500000,0.041667,0.125000,0.000000,8
561,561,64270311,2023,3.666667,0.333333,0.333333,1.333333,2.000000,1.000000,1.666667,...,0.000000,0.666667,0.000000,0.333333,0.333333,7.666667,0.583333,0.555556,0.000000,3
562,562,64270886,2023,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2

In [39]:
player_info = pd.read_csv('Player_info.csv')

In [41]:
player_info[player_info['id'] == 1028048549]

,Unnamed: 0,id,first_name,last_name,position,weight_pounds,team_id,team_conference,team_division,team_city,team_name,team_full_name,team_abbreviation,height_feet,height_inches
5294,5294,1028048549,Cam,Spencer,G,205.0,15,West,Southwest,Memphis,Grizzlies,Memphis Grizzlies,MEM,6.0,4.0

In [43]:
data_2023

,Unnamed: 0,player_id,season,pts,ast,reb,fgm,fga,fg3m,fg3a,...,fta,stl,blk,turnover,pf,min,fg_pct,fg3_pct,ft_pct,games_played
0,0,4,2023,19.269231,3.871795,10.256410,7.538462,14.512821,0.230769,0.717949,...,5.282051,1.064103,0.910256,2.205128,2.269231,34.205128,0.530181,0.142694,0.695466,78
1,1,8,2023,13.259740,2.974026,3.922078,4.428571,8.922078,2.675325,5.844156,...,1.961039,0.909091,0.571429,1.272727,2.090909,33.142857,0.489364,0.440731,0.585000,77
2,2,9,2023,16.530864,2.629630,10.703704,6.716049,10.567901,0.000000,0.074074,...,4.197531,0.716049,1.049383,1.555556,1.913580,31.567901,0.645041,0.000000,0.647301,81
3,3,12,2023,6.063830,3.925532,3.329787,2.393617,5.212766,0.138298,0.595745,...,1.585106,0.840426,0.553191,1.053191,1.638298,21.361702,0.466886,0.095644,0.417037,94
4,4,15,2023,30.438356,6.520548,11.493151,11.465753,18.767123,0.465753,1.698630,...,10.712329,1.164384,1.082192,3.397260,2.876712,35.205479,0.613039,0.225595,0.632134,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,558,64269817,2023,1.320000,0.360000,2.600000,0.480000,1.120000,0.000000,0.000000,...,0.480000,0.240000,0.560000,0.560000,2.560000,12.320000,0.300000,0.000000,0.180000,25
559,559,64269931,2023,4.500000,1.250000,2.000000,2.000000,4.750000,0.250000,1.750000,...,0.500000,0.500000,0.000000,0.750000,1.000000,10.000000,0.589286,0.050000,0.125000,4
560,560,64270026,2023,0.375000,0.000000,0.375000,0.125000,0.750000,0.125000,0.125000,...,0.250000,0.125000,0.000000,0.125000,0.250000,3.500000,0.041667,0.125000,0.000000,8
561,561,64270311,2023,3.666667,0.333333,0.333333,1.333333,2.000000,1.000000,1.666667,...,0.000000,0.666667,0.000000,0.333333,0.333333,7.666667,0.583333,0.555556,0.000000,3
562,562,64270886,2023,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2

In [167]:
data_final_new = pd.concat([data_final, df_final])

In [169]:
data_final_new

,games_played,player_id,season,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,first_name,last_name,position,height_feet,height_inches,weight_pounds
0,12,46397639,1960,20:45,3.333000,8.333000,0.000000,0.000000,0.750000,1.167000,0.000000,0.000000,6.750000,0.417000,0.000000,0.000000,0.000000,2.167000,7.417000,0.400000,0.000000,0.643,Mike,Farmer,NaN,NaN,NaN,NaN
1,39,46396616,1960,24:01,3.000000,8.205000,0.000000,0.000000,1.718000,2.615000,0.000000,0.000000,4.718000,1.000000,0.000000,0.000000,0.000000,2.769000,7.718000,0.366000,0.000000,0.657,Si,Green,NaN,NaN,NaN,NaN
2,18,46398147,1960,25:13,5.222000,12.167000,0.000000,0.000000,3.611000,4.167000,0.000000,0.000000,4.667000,1.389000,0.000000,0.000000,0.000000,2.222000,14.056000,0.429000,0.000000,0.867,Dave,Gambee,NaN,NaN,NaN,NaN
3,39,46392456,1960,31:09,6.564000,17.359000,0.000000,0.000000,4.282000,5.385000,0.000000,0.000000,2.846000,5.359000,0.000000,0.000000,0.000000,2.615000,17.436000,0.378000,0.000000,0.795,Bob,Cousy,NaN,NaN,NaN,NaN
4,33,46392455,1960,18:58,3.333000,7.697000,0.000000,0.000000,2.697000,3.242000,0.000000,0.000000,6.030000,0.182000,0.000000,0.000000,0.000000,2.818000,9.364000,0.433000,0.000000,0.832,Larry,Foust,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,7,1043947937,2024,21.428571,2.428571,7.428571,1.857143,6.285714,1.142857,1.428571,0.428571,0.857143,1.285714,1.714286,0.428571,0.142857,1.142857,2.428571,7.857143,0.326923,0.295455,0.800,NaN,NaN,NaN,NaN,NaN,NaN
565,10,1046231372,2024,25.1,2.700000,6.900000,0.500000,3.200000,0.800000,1.000000,2.300000,4.700000,7.000000,1.000000,0.900000,1.200000,0.700000,1.600000,6.700000,0.391304,0.156250,0.800,NaN,NaN,NaN,NaN,NaN,NaN
566,5,1046471967,2024,8.8,0.600000,4.200000,0.000000,2.000000,0.400000,0.400000,0.400000,1.200000,1.600000,0.400000,0.200000,0.400000,0.200000,0.200000,1.600000,0.142857,0.000000,1.000,NaN,NaN,NaN,NaN,NaN,NaN
567,9,1046672580,2024,28.222222,5.000000,11.333333,1.000000,3.888889,1.111111,1.777778,1.888889,5.333333,7.222222,2.222222,0.444444,0.111111,1.666667,2.333333,12.111111,0.441176,0.257143,0.625,NaN,NaN,NaN,NaN,NaN,NaN
568,6,1047375587,2024,18.5,2.000000,4.666667,1.000000,2.500000,2.000000,2.500000,0.500000,0.500000,1.000000,2.000000,0.500000,0.166667,1.333333,1.666667,7.000000,0.428571,0.400000,0.800,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
data_final_new.to_csv("Season_averages_NBA_1960-2024.csv")

In [191]:
data_final_new.columns

Index(['games_played', 'player_id', 'season', 'min', 'fgm', 'fga', 'fg3m',
       'fg3a', 'ftm', 'fta', 'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk',
       'turnover', 'pf', 'pts', 'fg_pct', 'fg3_pct', 'ft_pct', 'first_name',
       'last_name', 'position', 'height_feet', 'height_inches',
       'weight_pounds'],
      dtype='object')

In [195]:
data_final_new = data_final_new.drop(
    columns=['first_name','last_name','position','height_feet','height_inches','weight_pounds']
)

In [199]:
player_info

,Unnamed: 0,id,first_name,last_name,position,weight_pounds,team_id,team_conference,team_division,team_city,team_name,team_full_name,team_abbreviation,height_feet,height_inches
0,0,2,Jaylen,Adams,G,225.0,1,East,Southeast,Atlanta,Hawks,Atlanta Hawks,ATL,6.0,0.0
1,1,3,Steven,Adams,C,265.0,11,West,Southwest,Houston,Rockets,Houston Rockets,HOU,6.0,11.0
2,2,4,Bam,Adebayo,C-F,255.0,16,East,Southeast,Miami,Heat,Miami Heat,MIA,6.0,9.0
3,3,5,DeVaughn,Akoon-Purcell,G-F,201.0,8,West,Northwest,Denver,Nuggets,Denver Nuggets,DEN,6.0,5.0
4,4,6,LaMarcus,Aldridge,F,250.0,3,East,Atlantic,Brooklyn,Nets,Brooklyn Nets,BKN,6.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5428,5428,1057396260,Javon,Small,G,190.0,15,West,Southwest,Memphis,Grizzlies,Memphis Grizzlies,MEM,6.0,3.0
5429,5429,1057396603,John,Tonje,G,218.0,29,West,Northwest,Utah,Jazz,Utah Jazz,UTA,6.0,5.0
5430,5430,1057396605,Alex,Toohey,F,223.0,24,West,Pacific,Phoenix,Suns,Phoenix Suns,PHX,6.0,8.0
5431,5431,1057396966,Amari,Williams,F-C,250.0,2,East,Atlantic,Boston,Celtics,Boston Celtics,BOS,6.0,11.0
5432,5432,1057397172,Rocco,Zikarsky,C,227.0,5,East,Central,Chicago,Bulls,Chicago Bulls,CHI,7.0,3.0

In [201]:
data_final_new = data_final_new.merge(player_info, left_on = 'player_id', right_on = 'id', how = 'left')

In [203]:
data_final_new

,games_played,player_id,season,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,Unnamed: 0,id,first_name,last_name,position,weight_pounds,team_id,team_conference,team_division,team_city,team_name,team_full_name,team_abbreviation,height_feet,height_inches
0,12,46397639,1960,20:45,3.333000,8.333000,0.000000,0.000000,0.750000,1.167000,0.000000,0.000000,6.750000,0.417000,0.000000,0.000000,0.000000,2.167000,7.417000,0.400000,0.000000,0.643,4497.0,4.639764e+07,Mike,Farmer,NaN,210.0,1.0,East,Southeast,Atlanta,Hawks,Atlanta Hawks,ATL,6.0,7.0
1,39,46396616,1960,24:01,3.000000,8.205000,0.000000,0.000000,1.718000,2.615000,0.000000,0.000000,4.718000,1.000000,0.000000,0.000000,0.000000,2.769000,7.718000,0.366000,0.000000,0.657,4462.0,4.639662e+07,Si,Green,NaN,185.0,30.0,East,Southeast,Washington,Wizards,Washington Wizards,WAS,6.0,2.0
2,18,46398147,1960,25:13,5.222000,12.167000,0.000000,0.000000,3.611000,4.167000,0.000000,0.000000,4.667000,1.389000,0.000000,0.000000,0.000000,2.222000,14.056000,0.429000,0.000000,0.867,4511.0,4.639815e+07,Dave,Gambee,NaN,215.0,23.0,East,Atlantic,Philadelphia,76ers,Philadelphia 76ers,PHI,6.0,6.0
3,39,46392456,1960,31:09,6.564000,17.359000,0.000000,0.000000,4.282000,5.385000,0.000000,0.000000,2.846000,5.359000,0.000000,0.000000,0.000000,2.615000,17.436000,0.378000,0.000000,0.795,4254.0,4.639246e+07,Bob,Cousy,NaN,175.0,2.0,East,Atlantic,Boston,Celtics,Boston Celtics,BOS,6.0,1.0
4,33,46392455,1960,18:58,3.333000,7.697000,0.000000,0.000000,2.697000,3.242000,0.000000,0.000000,6.030000,0.182000,0.000000,0.000000,0.000000,2.818000,9.364000,0.433000,0.000000,0.832,4253.0,4.639246e+07,Larry,Foust,NaN,215.0,9.0,East,Central,Detroit,Pistons,Detroit Pistons,DET,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23659,7,1043947937,2024,21.428571,2.428571,7.428571,1.857143,6.285714,1.142857,1.428571,0.428571,0.857143,1.285714,1.714286,0.428571,0.142857,1.142857,2.428571,7.857143,0.326923,0.295455,0.800,5369.0,1.043948e+09,Tyson,Etienne,G,200.0,3.0,East,Atlantic,Brooklyn,Nets,Brooklyn Nets,BKN,6.0,2.0
23660,10,1046231372,2024,25.1,2.700000,6.900000,0.500000,3.200000,0.800000,1.000000,2.300000,4.700000,7.000000,1.000000,0.900000,1.200000,0.700000,1.600000,6.700000,0.391304,0.156250,0.800,5370.0,1.046231e+09,Marcus,Bagley,F,217.0,23.0,East,Atlantic,Philadelphia,76ers,Philadelphia 76ers,PHI,6.0,6.0
23661,5,1046471967,2024,8.8,0.600000,4.200000,0.000000,2.000000,0.400000,0.400000,0.400000,1.200000,1.600000,0.400000,0.200000,0.400000,0.200000,0.200000,1.600000,0.142857,0.000000,1.000,5371.0,1.046472e+09,Phillip,Wheeler,F,185.0,23.0,East,Atlantic,Philadelphia,76ers,Philadelphia 76ers,PHI,6.0,8.0
23662,9,1046672580,2024,28.222222,5.000000,11.333333,1.000000,3.888889,1.111111,1.777778,1.888889,5.333333,7.222222,2.222222,0.444444,0.111111,1.666667,2.333333,12.111111,0.441176,0.257143,0.625,5372.0,1.046673e+09,Drew,Timme,F,235.0,3.0,East,Atlantic,Brooklyn,Nets,Brooklyn Nets,BKN,6.0,10.0
23663,6,1047375587,2024,18.5,2.000000,4.666667,1.000000,2.500000,2.000000,2.500000,0.500000,0.500000,1.000000,2.000000,0.500000,0.166667,1.333333,1.666667,7.000000,0.428571,0.400000,0.800,5373.0,1.047376e+09,Jaylen,Sims,G,210.0,4.0,East,Southeast,Charlotte,Hornets,Charlotte Hornets,CHA,6.0,6.0

In [323]:
draft_data = pd.read_csv('Draft_picks_data.csv')

In [329]:
draft_data_new = pd.read_csv('Draft_picks_data_2023-24.csv')

In [349]:
draft_data_new = draft_data_new.dropna()

In [353]:
draft_data_combined = pd.concat([draft_data, draft_data_new])

In [355]:
draft_data_combined.to_csv('Draft_picks_data_new.csv')