In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
data_rookie = pd.read_csv("college_stats.csv")

In [3]:
data_rookie[data_rookie['Player'] == 'Mike Peplowski']

,Player,Season,School,Conf,Class,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 29,SOS
4087,Mike Peplowski,1989-90,Michigan State,Big Ten,FR,28.0,23.0,19.3,2.1,3.9,0.545,2.1,3.9,0.545,0.0,0.0,NaN,1.0,1.5,0.628,NaN,NaN,5.8,0.7,0.3,0.4,1.0,2.8,5.3,NaN,8.86
4088,Mike Peplowski,1990-91,Michigan State,Big Ten,SO,30.0,25.0,24.5,3.3,5.3,0.627,3.3,5.3,0.627,0.0,0.0,NaN,1.1,1.7,0.680,NaN,NaN,6.9,0.5,0.4,0.6,0.8,2.9,7.7,NaN,9.33
4089,Mike Peplowski,1991-92,Michigan State,Big Ten,JR,30.0,29.0,26.4,5.6,8.9,0.632,5.6,8.9,0.632,0.0,0.0,NaN,2.1,3.1,0.688,NaN,NaN,8.6,1.1,0.5,0.6,2.1,3.1,13.3,NaN,12.76
4090,Mike Peplowski,1992-93,Michigan State,Big Ten,SR,28.0,27.0,29.1,5.8,9.0,0.639,5.8,9.0,0.641,0.0,0.0,0.0,3.0,4.5,0.667,NaN,NaN,10.0,1.4,0.2,0.9,2.3,2.8,14.5,NaN,7.92

In [4]:
data_rookie['Player'].nunique()

1398

In [5]:
data_rookie['School'].unique()

array(['Duke', 'Gonzaga', 'Auburn', 'Iowa', 'Purdue', 'Arizona', 'Baylor',
       'Wisconsin', 'Santa Clara', 'Memphis', 'Kansas', 'Cincinnati',
       'LSU', 'Indiana State', 'Wake Forest', 'Ohio State', 'UNC',
       'Colorado State', 'Notre Dame', 'Milwaukee', 'Kentucky', 'UCLA',
       'Florida', 'Michigan', 'Arkansas', 'Michigan State', 'Tennessee',
       'Nebraska', 'Toledo', 'VCU', 'USC', 'Rhode Island', 'UConn',
       'Alabama', 'Colorado', 'Oklahoma State', 'Florida State',
       'Stanford', 'Oregon', 'Rice', 'Virginia', 'Texas', 'Arizona State',
       'Houston', 'Loyola (MD)', 'Villanova', 'Ohio', 'West Virginia',
       'Illinois', 'Utah State', 'Pepperdine', 'Western Kentucky',
       'Louisville', 'Creighton', 'Seton Hall', 'Maryland', 'Georgia',
       'Dayton', 'Iowa State', 'Vanderbilt', 'Washington',
       'Washington State', nan, 'San Diego State', 'TCU', 'Minnesota',
       'East Carolina', 'Syracuse', 'Mississippi State', 'Texas Tech',
       'Boise State', 'College of Charleston', 'DePaul', 'Louisiana Tech',
       'Nevada', 'Murray State', 'Pitt', 'Indiana', 'Virginia Tech',
       'San Jose State', 'Belmont', 'NC State', 'Wyoming', 'Fordham',
       'Hofstra', 'Yale', 'Miami (FL)', 'Oklahoma', 'Boston College',
       'Missouri', 'Georgia Tech', 'Wichita State', 'Texas A&M', 'Tulane',
       'Penn State', 'SMU', 'UT Arlington', 'Utah', 'Kansas State',
       'California', 'South Carolina', 'Xavier', 'Valparaiso', 'Clemson',
       'Providence', 'Marquette', "St. Joseph's", 'New Mexico State',
       'UNLV', 'Weber State', 'Oakland', 'Northern Illinois',
       'Georgia State', 'Bowling Green State', 'William & Mary',
       'Eastern Washington', "St. John's (NY)", 'UMass', 'Louisiana',
       'Tulsa', 'New Mexico', 'Green Bay', 'Georgetown', 'Lehigh',
       'Detroit Mercy', 'North Texas', 'South Dakota State', 'Bucknell',
       'Long Beach State', 'St. Bonaventure', 'Oregon State', 'UTEP',
       'Loyola Marymount', 'UCSB', 'Tennessee Tech', 'Norfolk State',
       'BYU', 'Morehead State', 'Cleveland State', 'Richmond', 'Butler',
       'Temple', 'Fresno State', 'South Florida', 'Marshall', 'Ole Miss',
       'Rutgers', 'Davidson', 'UCF', 'Siena', 'UAB', "Saint Mary's",
       'UT-Martin', 'Rider', 'IUPUI', 'Marist', 'Bradley',
       'George Washington', 'Western Carolina', 'Cal State Fullerton',
       'Manhattan', 'Central Michigan', 'Arkansas State', 'La Salle',
       'Central Connecticut', 'Charlotte', 'Austin Peay',
       'Eastern Illinois', 'Saint Louis', 'Louisiana-Monroe', 'Idaho',
       'Northern Arizona', 'Miami (OH)', 'Old Dominion', 'Texas State',
       'Illinois State', 'Northwestern', 'Navy', 'Pacific', 'Ball State',
       'Florida A&M', 'Eastern Michigan', 'Colgate', 'South Alabama',
       'Chattanooga', 'Wright State', 'Little Rock',
       'Mississippi Valley State', 'Drexel', 'UIC', 'Jackson State',
       'Penn', 'New Orleans', 'Southern Illinois', 'Tennessee State',
       'Kansas City', 'Duquesne', 'Hartford', 'Alcorn State', 'Delaware',
       'Southern'], dtype=object)

In [6]:
data_rookie_last = data_rookie.groupby('Player').last().reset_index()

In [7]:
data_rookie_last

,Player,Season,School,Conf,Class,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 29,SOS
0,A.J. Bramlett,1998-99,Arizona,Pac-10,SR,29.0,29.0,31.3,5.5,10.3,0.535,5.5,10.3,0.537,0.0,0.0,0.000,3.1,5.4,0.576,NaN,NaN,9.4,1.2,0.8,1.3,2.0,3.2,14.2,NaN,8.35
1,A.J. Guyton,1999-00,Indiana,Big Ten,SR,29.0,29.0,34.3,7.0,15.3,0.459,4.6,9.4,0.485,2.5,5.9,0.419,3.1,3.9,0.789,0.6,2.5,3.1,2.3,1.0,0.4,2.4,0.9,19.7,NaN,10.22
2,A.J. Hammons,2015-16,Purdue,Big Ten,SR,33.0,20.0,24.6,6.0,10.2,0.592,5.8,9.8,0.594,0.2,0.3,0.545,2.7,3.8,0.709,2.3,5.8,8.2,1.1,0.3,2.5,2.0,2.4,15.0,NaN,7.46
3,A.J. Price,2008-09,UConn,Big East,SR,35.0,35.0,31.8,4.9,11.9,0.408,2.5,6.1,0.413,2.3,5.8,0.402,2.7,3.7,0.721,0.6,2.9,3.5,4.7,0.7,0.0,2.7,1.3,14.7,NaN,8.57
4,AJ Griffin,2021-22,Duke,ACC,FR,39.0,25.0,24.0,3.7,7.6,0.493,1.9,3.5,0.547,1.8,4.1,0.447,1.1,1.4,0.792,0.8,3.2,3.9,1.0,0.5,0.6,0.6,1.1,10.4,NaN,7.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1393,Zach Randolph,2000-01,Michigan State,Big Ten,FR,33.0,8.0,19.8,4.2,7.1,0.587,4.2,7.1,0.590,0.0,0.0,0.000,2.4,3.8,0.635,3.1,3.6,6.7,1.0,0.7,0.7,1.6,1.8,10.8,NaN,9.54
1394,Zeke Nnaji,2019-20,Arizona,Pac-12,FR,32.0,32.0,30.7,5.6,9.8,0.570,5.4,9.3,0.586,0.2,0.5,0.294,4.8,6.3,0.760,3.1,5.5,8.6,0.8,0.7,0.9,2.2,2.4,16.1,NaN,8.40
1395,Zhaire Smith,2017-18,Texas Tech,Big 12,FR,37.0,21.0,28.4,4.2,7.5,0.556,3.7,6.4,0.574,0.5,1.1,0.450,2.5,3.4,0.717,2.2,2.8,5.0,1.8,1.1,1.1,1.1,1.8,11.3,NaN,9.60
1396,Ziaire Williams,2020-21,Stanford,Pac-12,FR,20.0,14.0,27.9,3.8,10.2,0.374,2.7,6.2,0.427,1.2,4.0,0.291,2.0,2.5,0.796,0.5,4.1,4.6,2.2,0.9,0.6,2.9,2.4,10.7,NaN,10.01
1397,Zion Williamson,2018-19,Duke,ACC,FR,33.0,33.0,30.0,9.0,13.2,0.680,8.2,11.0,0.747,0.7,2.2,0.338,3.9,6.2,0.640,3.5,5.4,8.9,2.1,2.1,1.8,2.4,2.1,22.6,NaN,11.98

In [8]:
data_rookie_last[data_rookie_last['Player'] == 'Mike Peplowski']

,Player,Season,School,Conf,Class,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 29,SOS
975,Mike Peplowski,1992-93,Michigan State,Big Ten,SR,28.0,27.0,29.1,5.8,9.0,0.639,5.8,9.0,0.641,0.0,0.0,0.0,3.0,4.5,0.667,NaN,NaN,10.0,1.4,0.2,0.9,2.3,2.8,14.5,NaN,7.92

# Creating dataset

In [9]:
data = pd.read_csv("season_averages_3.csv")
del data['Unnamed: 0']

In [10]:
data

,games_played,player_id,season,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,first_name,last_name,position,height_feet,height_inches,weight_pounds
0,12,46397639,1960,20:45,3.333,8.333,0.000,0.000,0.750,1.167,0.000,0.000,6.750,0.417,0.000,0.000,0.000,2.167,7.417,0.400,0.000,0.643,Mike,Farmer,NaN,NaN,NaN,NaN
1,39,46396616,1960,24:01,3.000,8.205,0.000,0.000,1.718,2.615,0.000,0.000,4.718,1.000,0.000,0.000,0.000,2.769,7.718,0.366,0.000,0.657,Si,Green,NaN,NaN,NaN,NaN
2,18,46398147,1960,25:13,5.222,12.167,0.000,0.000,3.611,4.167,0.000,0.000,4.667,1.389,0.000,0.000,0.000,2.222,14.056,0.429,0.000,0.867,Dave,Gambee,NaN,NaN,NaN,NaN
3,39,46392456,1960,31:09,6.564,17.359,0.000,0.000,4.282,5.385,0.000,0.000,2.846,5.359,0.000,0.000,0.000,2.615,17.436,0.378,0.000,0.795,Bob,Cousy,NaN,NaN,NaN,NaN
4,33,46392455,1960,18:58,3.333,7.697,0.000,0.000,2.697,3.242,0.000,0.000,6.030,0.182,0.000,0.000,0.000,2.818,9.364,0.433,0.000,0.832,Larry,Foust,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23067,18,56677832,2023,9:43,1.556,3.667,0.667,1.778,0.333,0.389,0.444,1.111,1.556,1.111,0.500,0.333,0.556,0.944,4.111,0.424,0.375,0.857,Jarace,Walker,F,NaN,NaN,NaN
23068,53,56677844,2023,26:50,2.981,6.698,1.000,2.736,1.377,1.962,0.887,3.189,4.075,1.755,0.849,0.774,1.491,2.170,8.340,0.445,0.366,0.702,Bilal,Coulibaly,G,NaN,NaN,NaN
23069,14,56913527,2023,9:47,2.071,4.214,0.286,1.000,2.357,3.000,0.714,1.357,2.071,0.286,0.214,0.000,0.143,0.571,6.786,0.492,0.286,0.786,Ricky,Council IV,G,NaN,NaN,NaN
23070,7,56677843,2023,9:51,1.571,2.571,0.143,0.571,0.857,0.857,0.857,1.000,1.857,0.857,0.000,0.143,0.429,0.714,4.143,0.611,0.250,1.000,Noah,Clowney,F,NaN,NaN,NaN
23071,5,56677838,2023,5:00,0.600,2.000,0.400,1.400,0.200,0.400,0.400,0.800,1.200,0.200,0.000,0.000,0.200,0.200,1.800,0.300,0.286,0.500,Kobe,Bufkin,G,NaN,NaN,NaN

In [11]:
data['Player'] = data['first_name'] + ' ' + data['last_name']

In [12]:
data = data.groupby('player_id').first().reset_index()

In [13]:
merged_data = pd.merge(data, data_rookie_last, on='Player')

In [14]:
merged_data

,player_id,games_played,season,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,first_name,last_name,position,height_feet,height_inches,weight_pounds,Player,Season,School,Conf,Class,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 29,SOS
0,3,81,2013,14:48,1.148,2.284,0.000,0.000,0.975,1.679,1.753,2.346,4.099,0.531,0.494,0.704,0.877,2.506,3.272,0.503,0.000,0.581,Steven,Adams,C,7.0,0.0,265.0,Steven Adams,2012-13,Pitt,Big East,FR,32.0,32.0,23.4,3.1,5.5,0.571,3.1,5.5,0.571,0.0,0.0,NaN,1.0,2.2,0.443,2.8,3.5,6.3,0.6,0.7,2.0,1.1,1.6,7.2,NaN,5.66
1,4,69,2017,19:49,2.522,4.928,0.000,0.101,1.870,2.594,1.710,3.812,5.522,1.464,0.464,0.594,0.957,2.000,6.913,0.512,0.000,0.721,Bam,Adebayo,C-F,6.0,10.0,255.0,Bam Adebayo,2016-17,Kentucky,SEC,FR,38.0,38.0,30.1,4.5,7.5,0.599,4.5,7.5,0.599,0.0,0.0,NaN,4.1,6.2,0.653,3.1,4.9,8.0,0.8,0.7,1.5,1.7,2.6,13.0,NaN,10.49
2,6,63,2006,21:50,3.830,7.600,0.000,0.030,1.320,1.830,2.290,2.670,4.950,0.380,0.350,1.160,0.680,2.950,8.970,0.503,0.000,0.722,LaMarcus,Aldridge,F,6.0,11.0,260.0,LaMarcus Aldridge,2005-06,Texas,Big 12,SO,37.0,37.0,33.7,5.9,10.4,0.569,5.9,10.4,0.569,0.0,0.0,NaN,3.2,4.9,0.646,3.6,5.5,9.2,0.5,1.4,2.0,1.6,2.5,15.0,NaN,6.99
3,8,38,2018,10:56,1.763,4.684,0.842,2.605,1.184,1.579,0.079,0.526,0.605,0.658,0.158,0.158,0.868,1.237,5.553,0.376,0.323,0.750,Grayson,Allen,G,6.0,5.0,198.0,Grayson Allen,2017-18,Duke,ACC,SR,37.0,37.0,35.6,4.9,11.7,0.418,2.1,4.2,0.503,2.8,7.5,0.370,2.9,3.4,0.850,0.5,2.8,3.3,4.6,1.7,0.1,2.1,2.1,15.5,NaN,9.70
4,9,72,2017,20:00,3.250,5.514,0.069,0.208,1.583,2.042,2.000,3.389,5.389,0.681,0.389,1.222,1.139,2.042,8.153,0.589,0.333,0.776,Jarrett,Allen,C,6.0,11.0,237.0,Jarrett Allen,2016-17,Texas,Big 12,FR,33.0,33.0,32.2,5.4,9.6,0.566,5.4,9.4,0.579,0.0,0.2,0.000,2.5,4.5,0.564,3.0,5.4,8.4,0.8,0.6,1.5,2.5,2.1,13.4,NaN,12.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,38017728,35,2022,11:49,1.057,2.714,0.686,2.029,0.200,0.257,0.543,1.229,1.771,0.600,0.371,0.114,0.514,1.400,3.000,0.389,0.338,0.778,Jake,LaRavia,F,NaN,NaN,NaN,Jake LaRavia,2021-22,Wake Forest,ACC,JR,33.0,33.0,34.2,5.0,9.0,0.559,4.2,6.8,0.616,0.8,2.2,0.384,3.7,4.8,0.777,2.1,4.5,6.6,3.7,1.7,1.0,2.7,2.8,14.6,NaN,4.75
1242,38017729,70,2022,18:00,2.571,6.000,0.929,3.029,0.586,0.929,0.714,2.043,2.757,0.843,0.429,0.271,0.814,1.529,6.657,0.429,0.307,0.631,David,Roddy,F,NaN,NaN,NaN,David Roddy,2021-22,Colorado State,MWC,JR,31.0,31.0,32.9,7.2,12.5,0.571,5.7,9.2,0.620,1.5,3.4,0.438,3.4,4.9,0.691,1.8,5.7,7.5,2.9,1.2,1.1,2.3,2.3,19.2,NaN,4.77
1243,38017731,15,2022,7:08,0.800,2.667,0.267,1.867,0.133,0.133,0.267,0.733,1.000,0.267,0.400,0.133,0.333,0.800,2.000,0.300,0.143,1.000,Vince,Williams Jr.,G,NaN,NaN,NaN,Vince Williams Jr.,2021-22,VCU,A-10,SR,30.0,29.0,32.4,4.6,9.6,0.477,2.4,4.0,0.605,2.2,5.6,0.387,2.8,3.4,0.814,0.9,5.1,6.0,3.0,1.6,1.1,2.9,2.9,14.1,NaN,5.17
1244,46406985,49,1972,23:17,4.102,9.082,0.000,0.000,0.898,1.327,0.000,0.000,7.429,0.939,0.000,0.000,0.000,3.102,9.102,0.452,0.000,0.677,Ron,Riley,None,NaN,NaN,NaN,Ron Riley,1995-96,Arizona State,Pac-10,SR,27.0,31.0,33.3,6.9,17.7,0.389,4.7,10.4,0.457,2.1,7.3,0.293,4.2,5.8,0.720,NaN,NaN,6.1,2.6,1.8,0.6,3.0,2.3,20.1,NaN,5.89
1245,46429879,1,1999,25:00,2.000,6.000,0.000,2.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,5.000,0.333,0.000,1.000,Ryan,Robertson,None,NaN,NaN,NaN,Ryan Robertson,1998-99,Kansas,Big 12,SR,33.0,33.0,35.3,4.1,9.4,0.439,2.6,5.2,0.494,1.5,4.2,0.370,3.1,3.5,0.871,NaN,NaN,4.0,3.2,1.7,0.4,1.5,2.3,12.8,NaN,9.17

In [15]:
merged_data.isnull().sum()

player_id           0
games_played        0
season              0
min                 0
fgm                 0
fga                 0
fg3m                0
fg3a                0
ftm                 0
fta                 0
oreb                0
dreb                1
reb                 0
ast                 0
stl                 0
blk                 0
turnover            0
pf                  0
pts                 0
fg_pct              0
fg3_pct             0
ft_pct              0
first_name          0
last_name           0
position          697
height_feet       948
height_inches     948
weight_pounds     948
Player              0
Season              0
School              0
Conf                0
Class               0
G                   0
GS                  3
MP                  0
FG                  0
FGA                 0
FG%                 0
2P                  0
2PA                 0
2P%                 0
3P                  0
3PA                 0
3P%                73
FT                  0
FTA                 0
FT%                 0
ORB               252
DRB               252
TRB                 0
AST                 0
STL                 0
BLK                 0
TOV                 0
PF                  0
PTS                 0
Unnamed: 29      1246
SOS                 0
dtype: int64

In [16]:
merged_data['3P%'].fillna(0, inplace = True)

In [17]:
del merged_data['Unnamed: 29']

In [18]:
del merged_data['ORB']
del merged_data['DRB']

In [19]:
merged_data['GS'].fillna(merged_data['G'], inplace = True)
merged_data['dreb'].fillna(merged_data['reb'] - merged_data['oreb'], inplace = True)

In [20]:
merged_data.isnull().sum()

player_id          0
games_played       0
season             0
min                0
fgm                0
fga                0
fg3m               0
fg3a               0
ftm                0
fta                0
oreb               0
dreb               0
reb                0
ast                0
stl                0
blk                0
turnover           0
pf                 0
pts                0
fg_pct             0
fg3_pct            0
ft_pct             0
first_name         0
last_name          0
position         697
height_feet      948
height_inches    948
weight_pounds    948
Player             0
Season             0
School             0
Conf               0
Class              0
G                  0
GS                 0
MP                 0
FG                 0
FGA                0
FG%                0
2P                 0
2PA                0
2P%                0
3P                 0
3PA                0
3P%                0
FT                 0
FTA                0
FT%                0
TRB                0
AST                0
STL                0
BLK                0
TOV                0
PF                 0
PTS                0
SOS                0
dtype: int64

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
# Creating an instance of LabelEncoder
label_encoder_Season = LabelEncoder()

# Encoding labels in the 'Category' column
merged_data['Season'] = label_encoder_Season.fit_transform(merged_data['Season'])

In [23]:
# Creating an instance of LabelEncoder
label_encoder_School = LabelEncoder()

# Encoding labels in the 'Category' column
merged_data['School'] = label_encoder_School.fit_transform(merged_data['School'])

In [24]:
# Creating an instance of LabelEncoder
label_encoder_Conf = LabelEncoder()

# Encoding labels in the 'Category' column
merged_data['Conf'] = label_encoder_Conf.fit_transform(merged_data['Conf'])

In [25]:
# Creating an instance of LabelEncoder
label_encoder_Class = LabelEncoder()

# Encoding labels in the 'Category' column
merged_data['Class'] = label_encoder_Class.fit_transform(merged_data['Class'])

In [26]:
merged_data.columns

Index(['player_id', 'games_played', 'season', 'min', 'fgm', 'fga', 'fg3m',
       'fg3a', 'ftm', 'fta', 'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk',
       'turnover', 'pf', 'pts', 'fg_pct', 'fg3_pct', 'ft_pct', 'first_name',
       'last_name', 'position', 'height_feet', 'height_inches',
       'weight_pounds', 'Player', 'Season', 'School', 'Conf', 'Class', 'G',
       'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%', '3P', '3PA', '3P%',
       'FT', 'FTA', 'FT%', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'SOS'],
      dtype='object')

# Prediciting points

In [45]:
#seperating independent and dependent variables
y = merged_data['reb']
X = merged_data[['Season', 'School', 'Conf', 'Class', 'G',
       'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%', '3P', '3PA', '3P%',
       'FT', 'FTA', 'FT%', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'SOS']]

In [47]:
#importing train_test_split to create validation set
from sklearn.model_selection import train_test_split

#creating the train and validation set
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25)

# Gradient Boosting Algorithm

In [54]:
# how to import decision tree regressor
from sklearn.ensemble import GradientBoostingRegressor

#creating the decision tree function
dt_model = GradientBoostingRegressor(max_depth = 2)

#fitting the model
dt_model.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=2)

In [55]:
#checking the training score
dt_model.score(X_train, y_train)

0.5167818327576983

In [56]:
#checking the validation score
dt_model.score(X_valid, y_valid)

0.2944860799701037

In [57]:
dt_model.feature_importances_

array([0.02468622, 0.00389257, 0.0060418 , 0.14866862, 0.03404048,
       0.01271639, 0.02319001, 0.00091404, 0.00545464, 0.12505288,
       0.03222795, 0.02716621, 0.0485759 , 0.00031712, 0.01114463,
       0.00401623, 0.01211422, 0.00982782, 0.02381478, 0.29841474,
       0.00215467, 0.0200172 , 0.07010156, 0.00104003, 0.00262846,
       0.02241249, 0.02936834])

In [58]:
from sklearn.metrics import mean_absolute_error as mae
y_pred = dt_model.predict(X_valid)
mae(y_valid, y_pred)

1.2761914898735336

# AdaBoost

In [59]:
# how to import decision tree regressor
from sklearn.ensemble import AdaBoostRegressor

#creating the decision tree function
dt_model = AdaBoostRegressor()

#fitting the model
dt_model.fit(X_train, y_train)

AdaBoostRegressor()

In [60]:
#checking the training score
dt_model.score(X_train, y_train)

0.3795183349972304

In [61]:
#checking the validation score
dt_model.score(X_valid, y_valid)

0.1421877291357061

In [62]:
dt_model.feature_importances_

array([0.05007954, 0.02480513, 0.01468419, 0.07980235, 0.03273117,
       0.03127848, 0.03904549, 0.00496059, 0.01251937, 0.05182826,
       0.02603262, 0.05116395, 0.06124524, 0.        , 0.02210683,
       0.03859147, 0.00298279, 0.01227763, 0.02544859, 0.18178095,
       0.01176804, 0.05448308, 0.07684378, 0.00546843, 0.02582725,
       0.01906232, 0.04318244])

In [63]:
from sklearn.metrics import mean_absolute_error as mae
y_pred = dt_model.predict(X_valid)
mae(y_valid, y_pred)

1.4648435012719756