In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import seaborn as sns
import matplotlib.pyplot as plt
import copy

In [2]:
data = pd.read_csv("Season_averages_3.csv")
del data['Unnamed: 0']

In [3]:
data

,games_played,player_id,season,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,first_name,last_name,position,height_feet,height_inches,weight_pounds
0,12,46397639,1960,20:45,3.333,8.333,0.000,0.000,0.750,1.167,0.000,0.000,6.750,0.417,0.000,0.000,0.000,2.167,7.417,0.400,0.000,0.643,Mike,Farmer,NaN,NaN,NaN,NaN
1,39,46396616,1960,24:01,3.000,8.205,0.000,0.000,1.718,2.615,0.000,0.000,4.718,1.000,0.000,0.000,0.000,2.769,7.718,0.366,0.000,0.657,Si,Green,NaN,NaN,NaN,NaN
2,18,46398147,1960,25:13,5.222,12.167,0.000,0.000,3.611,4.167,0.000,0.000,4.667,1.389,0.000,0.000,0.000,2.222,14.056,0.429,0.000,0.867,Dave,Gambee,NaN,NaN,NaN,NaN
3,39,46392456,1960,31:09,6.564,17.359,0.000,0.000,4.282,5.385,0.000,0.000,2.846,5.359,0.000,0.000,0.000,2.615,17.436,0.378,0.000,0.795,Bob,Cousy,NaN,NaN,NaN,NaN
4,33,46392455,1960,18:58,3.333,7.697,0.000,0.000,2.697,3.242,0.000,0.000,6.030,0.182,0.000,0.000,0.000,2.818,9.364,0.433,0.000,0.832,Larry,Foust,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23067,18,56677832,2023,9:43,1.556,3.667,0.667,1.778,0.333,0.389,0.444,1.111,1.556,1.111,0.500,0.333,0.556,0.944,4.111,0.424,0.375,0.857,Jarace,Walker,F,NaN,NaN,NaN
23068,53,56677844,2023,26:50,2.981,6.698,1.000,2.736,1.377,1.962,0.887,3.189,4.075,1.755,0.849,0.774,1.491,2.170,8.340,0.445,0.366,0.702,Bilal,Coulibaly,G,NaN,NaN,NaN
23069,14,56913527,2023,9:47,2.071,4.214,0.286,1.000,2.357,3.000,0.714,1.357,2.071,0.286,0.214,0.000,0.143,0.571,6.786,0.492,0.286,0.786,Ricky,Council IV,G,NaN,NaN,NaN
23070,7,56677843,2023,9:51,1.571,2.571,0.143,0.571,0.857,0.857,0.857,1.000,1.857,0.857,0.000,0.143,0.429,0.714,4.143,0.611,0.250,1.000,Noah,Clowney,F,NaN,NaN,NaN
23071,5,56677838,2023,5:00,0.600,2.000,0.400,1.400,0.200,0.400,0.400,0.800,1.200,0.200,0.000,0.000,0.200,0.200,1.800,0.300,0.286,0.500,Kobe,Bufkin,G,NaN,NaN,NaN

In [4]:
data_turnover = data[['player_id', 'turnover', 'season']]

In [5]:
data_turnover.sort_values(by = 'season', ascending = True, inplace = True)

<ipython-input-5-cc5404cf803f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_turnover.sort_values(by = 'season', ascending = True, inplace = True)

In [6]:
data_turnover = data_turnover.groupby(['player_id', 'season']).mean().reset_index()

In [7]:
data_turnover

       player_id  season  turnover
0              1    2016     0.485
1              1    2017     0.333
2              1    2018     0.452
3              2    2018     0.824
4              2    2020     0.000
...          ...     ...       ...
23067   64269817    2023     0.560
23068   64269931    2023     0.333
23069   64270026    2023     0.000
23070   64270311    2023     0.000
23071   64270886    2023     0.000

[23072 rows x 3 columns]

In [8]:
data_turnover.rename(columns = {'player_id':'Player', 'season':'Year'}, inplace = True)

In [9]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
data_turnover['turnover'] = scalar.fit_transform(data_turnover[['turnover']])

In [10]:
data_turnover

         Player  Year  turnover
0             1  2016  0.084672
1             1  2017  0.058135
2             1  2018  0.078911
3             2  2018  0.143855
4             2  2020  0.000000
...         ...   ...       ...
23067  64269817  2023  0.097765
23068  64269931  2023  0.058135
23069  64270026  2023  0.000000
23070  64270311  2023  0.000000
23071  64270886  2023  0.000000

[23072 rows x 3 columns]

In [11]:
data_turnover_final_1 = pd.DataFrame()

In [12]:
for i in range(1, 23):
    locals()["data_turnover_" + str(i)] = data_turnover.groupby('Player').nth(i-1)
    locals()["data_turnover_" + str(i)].drop(columns = {'Year'}, inplace = True)
    locals()["data_turnover_" + str(i)].rename(columns = {'turnover':'turnover_'+str(i)}, inplace = True)

In [13]:
from functools import reduce
data_frames = [data_turnover_1, data_turnover_2, data_turnover_3, data_turnover_4, data_turnover_5, data_turnover_6, data_turnover_7, data_turnover_8, data_turnover_9, data_turnover_10, data_turnover_11, data_turnover_12,data_turnover_13, data_turnover_14, data_turnover_15, data_turnover_16, data_turnover_17, data_turnover_18,data_turnover_19, data_turnover_20, data_turnover_21]
data_turnover_final_1 = reduce(lambda  left,right: pd.merge(left,right,on=['Player'],
                                            how='outer'), data_frames)

In [14]:
data_turnover_final_1 = data_turnover_final_1[data_turnover_final_1['turnover_2'].notnull()]

In [15]:
data_turnover_final_1

,turnover_1,turnover_2,turnover_3,turnover_4,turnover_5,turnover_6,turnover_7,turnover_8,turnover_9,turnover_10,turnover_11,turnover_12,turnover_13,turnover_14,turnover_15,turnover_16,turnover_17,turnover_18,turnover_19,turnover_20,turnover_21
Player,,,,,,,,,,,,,,,,,,,,,
1,0.084672,0.058135,0.078911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.143855,0.000000,0.244413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.153108,0.246858,0.183310,0.318610,0.293994,0.294693,0.260475,0.234811,0.267458,0.328387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.167074,0.257682,0.494588,0.461068,0.459497,0.433135,0.422835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.049930,0.209497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46410090,0.000000,0.093925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46411584,0.029155,0.080656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47738533,0.139665,0.017458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47957121,0.174581,0.051327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48248287,0.349162,0.136872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data_turnover_y_1 = data_turnover.groupby('Player').last()
data_turnover_y_1.drop(columns = {'Year'}, inplace = True)

In [17]:
data_turnover_y_1

          turnover
Player
1         0.078911
2         0.244413
3         0.328387
4         0.422835
5         0.209497
...            ...
64269817  0.097765
64269931  0.058135
64270026  0.000000
64270311  0.000000
64270886  0.000000

[4439 rows x 1 columns]

In [18]:
data_turnover_y_1  = pd.merge(data_turnover_y_1, data_turnover_2, on = ['Player'])
data_turnover_y_1.drop(columns = {'turnover_2'}, inplace = True)

In [19]:
data_turnover_y_1

          turnover
Player
1         0.078911
2         0.244413
3         0.328387
4         0.422835
5         0.209497
...            ...
46410090  0.093925
46411584  0.080656
47738533  0.017458
47957121  0.051327
48248287  0.136872

[3277 rows x 1 columns]

In [20]:
# Find the indices of the lturnover non-NaN values in each row
last_non_nan_indices = np.where(~np.isnan(data_turnover_final_1), np.arange(data_turnover_final_1.shape[1])[None, :], -1).max(axis=1)

In [21]:
last_non_nan_indices

array([2, 2, 9, ..., 1, 1, 1])

In [22]:
data_turnover_final_1.iloc[0][3]

nan

In [23]:
for i in range(0, len(data_turnover_final_1)):
    idx = last_non_nan_indices[i]
    data_turnover_final_1.iloc[i][idx] = np.nan

In [24]:
data_turnover_final = pd.DataFrame()
data_turnover_final = data_turnover_final.append(data_turnover_final_1, ignore_index = True)

In [25]:
data_turnover_y = pd.DataFrame()
data_turnover_y = data_turnover_y.append(data_turnover_y_1, ignore_index = True)

In [26]:
data_turnover_final

,turnover_1,turnover_2,turnover_3,turnover_4,turnover_5,turnover_6,turnover_7,turnover_8,turnover_9,turnover_10,turnover_11,turnover_12,turnover_13,turnover_14,turnover_15,turnover_16,turnover_17,turnover_18,turnover_19,turnover_20,turnover_21
0,0.084672,0.058135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.143855,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.153108,0.246858,0.183310,0.318610,0.293994,0.294693,0.260475,0.234811,0.267458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.167074,0.257682,0.494588,0.461068,0.459497,0.433135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.049930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3272,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3273,0.029155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3274,0.139665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3275,0.174581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3276,0.349162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# For loop to add more rows

In [27]:
for i in range(2, 21):
    locals()["data_turnover_y_"+str(i)] = data_turnover.groupby('Player').nth(-i)
    locals()["data_turnover_y_"+str(i)].drop(columns = {'Year'}, inplace = True)

    locals()["data_turnover_y_"+str(i)]  = pd.merge(locals()["data_turnover_y_"+str(i)], locals()["data_turnover_"+str(i+1)], on = ['Player'])

    locals()["data_turnover_y_"+str(i)].drop(columns = {'turnover_'+str(i+1)}, inplace = True)
    
    # Find the indices of the lturnover non-NaN values in each row
    last_non_nan_indices = np.where(~np.isnan(locals()["data_turnover_final_"+str(i-1)]), np.arange(locals()["data_turnover_final_"+str(i-1)].shape[1])[None, :], -1).max(axis=1)
    locals()["data_turnover_final_"+str(i)] = copy.deepcopy(locals()["data_turnover_final_"+str(i-1)])

    for j in range(0, len(locals()["data_turnover_final_"+str(i)])):
        idx = last_non_nan_indices[j]
        locals()["data_turnover_final_"+str(i)].iloc[j][idx] = np.nan

    locals()["data_turnover_final_"+str(i)] = locals()["data_turnover_final_"+str(i)][locals()["data_turnover_final_"+str(i)]['turnover_1'].notnull()]
    data_turnover_final = data_turnover_final.append(locals()["data_turnover_final_"+str(i)], ignore_index = True)
    data_turnover_y = data_turnover_y.append(locals()["data_turnover_y_"+str(i)], ignore_index = True)

In [28]:
data_turnover_final

,turnover_1,turnover_2,turnover_3,turnover_4,turnover_5,turnover_6,turnover_7,turnover_8,turnover_9,turnover_10,turnover_11,turnover_12,turnover_13,turnover_14,turnover_15,turnover_16,turnover_17,turnover_18,turnover_19,turnover_20,turnover_21
0,0.084672,0.058135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.143855,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.153108,0.246858,0.183310,0.318610,0.293994,0.294693,0.260475,0.234811,0.267458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.167074,0.257682,0.494588,0.461068,0.459497,0.433135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.049930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18627,0.604050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18628,0.270601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18629,0.223464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18630,0.240922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18631,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
data_turnover_y

       turnover
0      0.078911
1      0.244413
2      0.328387
3      0.422835
4      0.209497
...         ...
18627  0.572626
18628  0.300279
18629  0.376920
18630  0.396299
18631  0.427898

[18632 rows x 1 columns]

In [30]:
data_turnover_final.fillna(0, inplace = True)

In [31]:
season = pd.read_csv("season_lstm.csv")
del season['Unnamed: 0']

In [32]:
data_turnover_final = np.array(data_turnover_final)

In [33]:
data_turnover_y = np.array(data_turnover_y)

In [34]:
season = np.array(season)

In [35]:
season = season.reshape(18632, 21, 1)

In [36]:
data_turnover_final = data_turnover_final.reshape(18632, 21, 1)

In [37]:
data_turnover_final = np.concatenate((data_turnover_final, season), axis=2)

In [64]:
#importing train_test_split to create validation set
from sklearn.model_selection import train_test_split

#creating the train and validation set
train_x, test_x, train_y, test_y = train_test_split(data_turnover_final, data_turnover_y, random_state = 101, test_size=0.2)
train_x, valid_x, train_y, valid_y = train_test_split(train_x, train_y, random_state = 101, test_size=0.25)

In [65]:
# reshape input to be [samples, time steps, features]
#train_x = train_x.reshape(train_x.shape[0], train_x.shape[1], 1)
#valid_x = valid_x.reshape(valid_x.shape[0], valid_x.shape[1], 1)
#test_x = test_x.reshape(test_x.shape[0], test_x.shape[1], 1)

In [66]:
train_x.shape

(11178, 21, 2)

# Training LSTM Model

In [67]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM, Dropout, ConvLSTM2D, Flatten
from tensorflow.keras.layers import Masking
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

In [68]:
model = Sequential()
model.add(Masking(mask_value=0., input_shape = (21, 2)))
model.add(LSTM(128, activation = 'relu', return_sequences = True))
model.add(LSTM(64, activation = 'relu'))
model.add(Dense(32))
model.add(Dense(1))
model.compile(loss = 'mean_squared_error', optimizer = 'adam')

In [69]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
masking_2 (Masking)          (None, 21, 2)             0
_________________________________________________________________
lstm_3 (LSTM)                (None, 21, 128)           67072
_________________________________________________________________
lstm_4 (LSTM)                (None, 64)                49408
_________________________________________________________________
dense_4 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 33
=================================================================
Total params: 118,593
Trainable params: 118,593
Non-trainable params: 0
_________________________________________________________________

In [70]:
model.fit(train_x, train_y, validation_data = (valid_x, valid_y), verbose = 2, epochs = 25)

Epoch 1/25
350/350 - 27s - loss: 0.0109 - val_loss: 0.0072
Epoch 2/25
350/350 - 12s - loss: 0.0070 - val_loss: 0.0066
Epoch 3/25
350/350 - 15s - loss: 0.0070 - val_loss: 0.0068
Epoch 4/25
350/350 - 13s - loss: 0.0069 - val_loss: 0.0065
Epoch 5/25
350/350 - 14s - loss: 0.0067 - val_loss: 0.0064
Epoch 6/25
350/350 - 15s - loss: 0.0067 - val_loss: 0.0065
Epoch 7/25
350/350 - 14s - loss: 0.0067 - val_loss: 0.0065
Epoch 8/25
350/350 - 14s - loss: 0.0067 - val_loss: 0.0064
Epoch 9/25
350/350 - 13s - loss: 0.0067 - val_loss: 0.0064
Epoch 10/25
350/350 - 10s - loss: 0.0067 - val_loss: 0.0066
Epoch 11/25
350/350 - 11s - loss: 0.0066 - val_loss: 0.0064
Epoch 12/25
350/350 - 10s - loss: 0.0066 - val_loss: 0.0064
Epoch 13/25
350/350 - 13s - loss: 0.0067 - val_loss: 0.0064
Epoch 14/25
350/350 - 9s - loss: 0.0066 - val_loss: 0.0064
Epoch 15/25
350/350 - 9s - loss: 0.0066 - val_loss: 0.0066
Epoch 16/25
350/350 - 9s - loss: 0.0066 - val_loss: 0.0063
Epoch 17/25
350/350 - 9s - loss: 0.0066 - val_loss: 0.0064
Epoch 18/25
350/350 - 11s - loss: 0.0066 - val_loss: 0.0063
Epoch 19/25
350/350 - 11s - loss: 0.0065 - val_loss: 0.0064
Epoch 20/25
350/350 - 12s - loss: 0.0066 - val_loss: 0.0063
Epoch 21/25
350/350 - 10s - loss: 0.0065 - val_loss: 0.0063
Epoch 22/25
350/350 - 10s - loss: 0.0065 - val_loss: 0.0063
Epoch 23/25
350/350 - 13s - loss: 0.0065 - val_loss: 0.0064
Epoch 24/25
350/350 - 15s - loss: 0.0065 - val_loss: 0.0066
Epoch 25/25
350/350 - 14s - loss: 0.0066 - val_loss: 0.0063

In [71]:
train_predict = model.predict(train_x)
test_predict = model.predict(test_x)

In [72]:
train_predict = scalar.inverse_transform(train_predict)
test_predict = scalar.inverse_transform(test_predict)
train_y = scalar.inverse_transform(train_y)
test_y = scalar.inverse_transform(test_y)

In [73]:
train_y[:,0]

array([1.49 , 0.317, 2.15 , ..., 0.736, 1.   , 1.13 ])

In [74]:
mae(train_y[:,0], train_predict[:,0])

0.3252436674274969

In [75]:
mae(test_y[:,0], test_predict[:,0])

0.32322972639015696

In [76]:
r2_score(train_y[:,0], train_predict[:,0])

0.7310979982213668

In [77]:
r2_score(test_y[:,0], test_predict[:,0])

0.7350833097503413

In [47]:
# next steps: multivariate lstm? 
# next steps: conv2D lstm and bidirectional? 
# next steps: turnoverounds, assists, games_played

# Conv2DLSTM

In [ ]:
#[samples, timesteps, rows, columns, features]

In [34]:
train_x = train_x.reshape((train_x.shape[0], train_x.shape[1], 1, 1, 1))

In [35]:
test_x = test_x.reshape((test_x.shape[0], test_x.shape[1], 1, 1, 1))

In [ ]:
valid_x = valid_x.reshape((test_x.shape[0], test_x.shape[1], 1, 1, 1))

In [36]:
train_x.shape

(13974, 21, 1, 1, 1)

In [40]:
model = Sequential()
model.add(Masking(mask_value=0., input_shape=(21, 1, 1, 1)))
model.add(ConvLSTM2D(filters = 32, kernel_size = (1,1), activation = 'relu'))
model.add(Flatten())
model.add(Dense(32))
model.add(Dense(1))
model.compile(loss = 'mean_squared_error', optimizer = 'adam')

In [41]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
masking (Masking)            (None, 21, 1, 1, 1)       0
_________________________________________________________________
conv_lst_m2d (ConvLSTM2D)    (None, 1, 1, 32)          4352
_________________________________________________________________
flatten (Flatten)            (None, 32)                0
_________________________________________________________________
dense (Dense)                (None, 32)                1056
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 33
=================================================================
Total params: 5,441
Trainable params: 5,441
Non-trainable params: 0
_________________________________________________________________

In [42]:
model.fit(train_x, train_y, validation_data = (test_x, test_y), verbose = 2, epochs = 20)

Epoch 1/30
437/437 - 11s - loss: 20.8630 - val_loss: 10.0534
Epoch 2/30
437/437 - 7s - loss: 10.7177 - val_loss: 9.8462
Epoch 3/30
437/437 - 7s - loss: 10.5879 - val_loss: 9.7248
Epoch 4/30
437/437 - 7s - loss: 10.5125 - val_loss: 9.7516
Epoch 5/30
437/437 - 7s - loss: 10.4588 - val_loss: 9.8209
Epoch 6/30
437/437 - 6s - loss: 10.4773 - val_loss: 9.6875
Epoch 7/30
437/437 - 7s - loss: 10.4511 - val_loss: 9.6970
Epoch 8/30
437/437 - 7s - loss: 10.4506 - val_loss: 9.6780
Epoch 9/30
437/437 - 7s - loss: 10.4130 - val_loss: 9.8421
Epoch 10/30
437/437 - 7s - loss: 10.4499 - val_loss: 9.7092
Epoch 11/30
437/437 - 7s - loss: 10.4177 - val_loss: 9.6914
Epoch 12/30
437/437 - 6s - loss: 10.3818 - val_loss: 9.6760
Epoch 13/30
437/437 - 7s - loss: 10.4141 - val_loss: 9.6898
Epoch 14/30
437/437 - 6s - loss: 10.3813 - val_loss: 9.6634
Epoch 15/30
437/437 - 7s - loss: 10.3781 - val_loss: 9.7365
Epoch 16/30
437/437 - 7s - loss: 10.4314 - val_loss: 9.6243
Epoch 17/30
437/437 - 7s - loss: 10.3922 - val_loss: 9.6816
Epoch 18/30
437/437 - 7s - loss: 10.3642 - val_loss: 9.8391
Epoch 19/30
437/437 - 7s - loss: 10.3699 - val_loss: 9.6328
Epoch 20/30
437/437 - 7s - loss: 10.3683 - val_loss: 9.7099
Epoch 21/30
437/437 - 7s - loss: 10.3648 - val_loss: 9.6988
Epoch 22/30
437/437 - 7s - loss: 10.3408 - val_loss: 9.6942
Epoch 23/30
437/437 - 7s - loss: 10.3472 - val_loss: 9.7469
Epoch 24/30
437/437 - 7s - loss: 10.3361 - val_loss: 9.6559
Epoch 25/30
437/437 - 7s - loss: 10.3339 - val_loss: 9.6736
Epoch 26/30
437/437 - 7s - loss: 10.3643 - val_loss: 9.6576
Epoch 27/30
437/437 - 7s - loss: 10.3335 - val_loss: 9.7560
Epoch 28/30
437/437 - 7s - loss: 10.3235 - val_loss: 9.6603
Epoch 29/30
437/437 - 7s - loss: 10.3359 - val_loss: 9.8475
Epoch 30/30
437/437 - 7s - loss: 10.3251 - val_loss: 9.6881

In [43]:
train_predict = model.predict(train_x)
test_predict = model.predict(test_x)

In [44]:
train_y[:,0]

array([ 8.06 ,  9.524,  9.84 , ...,  9.32 , 10.31 ,  8.788])

In [45]:
mae(train_y[:,0], train_predict[:,0])

2.4327106378739765

In [46]:
mae(test_y[:,0], test_predict[:,0])

2.395287618843462

In [47]:
r2_score(train_y[:,0], train_predict[:,0])

0.7497161681645126

In [48]:
r2_score(test_y[:,0], test_predict[:,0])

0.7579389058280561