In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import seaborn as sns
import matplotlib.pyplot as plt
import copy

In [2]:
data = pd.read_csv("Season_averages_3.csv")
del data['Unnamed: 0']

In [3]:
data

,games_played,player_id,season,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct,first_name,last_name,position,height_feet,height_inches,weight_pounds
0,12,46397639,1960,20:45,3.333,8.333,0.000,0.000,0.750,1.167,0.000,0.000,6.750,0.417,0.000,0.000,0.000,2.167,7.417,0.400,0.000,0.643,Mike,Farmer,NaN,NaN,NaN,NaN
1,39,46396616,1960,24:01,3.000,8.205,0.000,0.000,1.718,2.615,0.000,0.000,4.718,1.000,0.000,0.000,0.000,2.769,7.718,0.366,0.000,0.657,Si,Green,NaN,NaN,NaN,NaN
2,18,46398147,1960,25:13,5.222,12.167,0.000,0.000,3.611,4.167,0.000,0.000,4.667,1.389,0.000,0.000,0.000,2.222,14.056,0.429,0.000,0.867,Dave,Gambee,NaN,NaN,NaN,NaN
3,39,46392456,1960,31:09,6.564,17.359,0.000,0.000,4.282,5.385,0.000,0.000,2.846,5.359,0.000,0.000,0.000,2.615,17.436,0.378,0.000,0.795,Bob,Cousy,NaN,NaN,NaN,NaN
4,33,46392455,1960,18:58,3.333,7.697,0.000,0.000,2.697,3.242,0.000,0.000,6.030,0.182,0.000,0.000,0.000,2.818,9.364,0.433,0.000,0.832,Larry,Foust,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23067,18,56677832,2023,9:43,1.556,3.667,0.667,1.778,0.333,0.389,0.444,1.111,1.556,1.111,0.500,0.333,0.556,0.944,4.111,0.424,0.375,0.857,Jarace,Walker,F,NaN,NaN,NaN
23068,53,56677844,2023,26:50,2.981,6.698,1.000,2.736,1.377,1.962,0.887,3.189,4.075,1.755,0.849,0.774,1.491,2.170,8.340,0.445,0.366,0.702,Bilal,Coulibaly,G,NaN,NaN,NaN
23069,14,56913527,2023,9:47,2.071,4.214,0.286,1.000,2.357,3.000,0.714,1.357,2.071,0.286,0.214,0.000,0.143,0.571,6.786,0.492,0.286,0.786,Ricky,Council IV,G,NaN,NaN,NaN
23070,7,56677843,2023,9:51,1.571,2.571,0.143,0.571,0.857,0.857,0.857,1.000,1.857,0.857,0.000,0.143,0.429,0.714,4.143,0.611,0.250,1.000,Noah,Clowney,F,NaN,NaN,NaN
23071,5,56677838,2023,5:00,0.600,2.000,0.400,1.400,0.200,0.400,0.400,0.800,1.200,0.200,0.000,0.000,0.200,0.200,1.800,0.300,0.286,0.500,Kobe,Bufkin,G,NaN,NaN,NaN

In [4]:
data_season = data[['player_id', 'turnover', 'season']]

In [5]:
data_season.sort_values(by = 'season', ascending = True, inplace = True)

<ipython-input-5-ec1b27ea0613>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_season.sort_values(by = 'season', ascending = True, inplace = True)

In [6]:
data_season = data_season.groupby(['player_id', 'season']).mean().reset_index()

In [8]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
data_season['season'] = scalar.fit_transform(data_season[['season']])

In [10]:
data_season.rename(columns = {'player_id':'Player', 'season':'Year'}, inplace = True)

In [11]:
season_final_1 = pd.DataFrame()

In [12]:
for i in range(1, 23):
    locals()["data_season_" + str(i)] = data_season.groupby('Player').nth(i-1)
    locals()["data_season_" + str(i)].drop(columns = {'turnover'}, inplace = True)
    locals()["data_season_" + str(i)].rename(columns = {'Year':'season_'+str(i)}, inplace = True)

In [13]:
from functools import reduce
data_frames = [data_season_1, data_season_2, data_season_3, data_season_4, data_season_5, data_season_6, data_season_7, data_season_8, data_season_9, data_season_10, data_season_11, data_season_12,data_season_13, data_season_14, data_season_15, data_season_16, data_season_17, data_season_18,data_season_19, data_season_20, data_season_21]
data_season_final_1 = reduce(lambda  left,right: pd.merge(left,right,on=['Player'],
                                            how='outer'), data_frames)

In [14]:
data_season_final_1

,season_1,season_2,season_3,season_4,season_5,season_6,season_7,season_8,season_9,season_10,season_11,season_12,season_13,season_14,season_15,season_16,season_17,season_18,season_19,season_20,season_21
Player,,,,,,,,,,,,,,,,,,,,,
1,0.888889,0.904762,0.920635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.920635,0.952381,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.841270,0.857143,0.873016,0.888889,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.920635,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64269817,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64269931,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64270026,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64270311,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64270886,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data_season_final_1 = data_season_final_1[data_season_final_1['season_2'].notnull()]

In [16]:
data_season_final_1

,season_1,season_2,season_3,season_4,season_5,season_6,season_7,season_8,season_9,season_10,season_11,season_12,season_13,season_14,season_15,season_16,season_17,season_18,season_19,season_20,season_21
Player,,,,,,,,,,,,,,,,,,,,,
1,0.888889,0.904762,0.920635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.920635,0.952381,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.841270,0.857143,0.873016,0.888889,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.920635,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46410090,0.253968,0.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46411584,0.269841,0.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47738533,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47957121,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48248287,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data_season_y_1 = data_season.groupby('Player').last()
data_season_y_1.drop(columns = {'turnover'}, inplace = True)

In [18]:
data_season_y_1

              Year
Player
1         0.920635
2         0.968254
3         0.984127
4         1.000000
5         0.968254
...            ...
64269817  1.000000
64269931  1.000000
64270026  1.000000
64270311  1.000000
64270886  1.000000

[4439 rows x 1 columns]

In [19]:
data_season_y_1  = pd.merge(data_season_y_1, data_season_2, on = ['Player'])
data_season_y_1.drop(columns = {'season_2'}, inplace = True)

In [20]:
data_season_y_1

              Year
Player
1         0.920635
2         0.968254
3         0.984127
4         1.000000
5         0.968254
...            ...
46410090  0.285714
46411584  0.285714
47738533  1.000000
47957121  1.000000
48248287  1.000000

[3277 rows x 1 columns]

In [21]:
# Find the indices of the lseason non-NaN values in each row
last_non_nan_indices = np.where(~np.isnan(data_season_final_1), np.arange(data_season_final_1.shape[1])[None, :], -1).max(axis=1)

In [22]:
last_non_nan_indices

array([2, 2, 9, ..., 1, 1, 1])

In [23]:
data_season_final_1.iloc[0][2]

0.9206349206349209

In [24]:
data_season_final_1

,season_1,season_2,season_3,season_4,season_5,season_6,season_7,season_8,season_9,season_10,season_11,season_12,season_13,season_14,season_15,season_16,season_17,season_18,season_19,season_20,season_21
Player,,,,,,,,,,,,,,,,,,,,,
1,0.888889,0.904762,0.920635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.920635,0.952381,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.841270,0.857143,0.873016,0.888889,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.920635,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46410090,0.253968,0.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46411584,0.269841,0.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47738533,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47957121,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48248287,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
for i in range(0, len(data_season_final_1)):
    idx = last_non_nan_indices[i]
    data_season_final_1.iloc[i, idx] = np.nan

C:\Users\krish\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\krish\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [26]:
data_season_final = pd.DataFrame()
data_season_final = data_season_final.append(data_season_final_1, ignore_index = True)

In [27]:
data_season_y = pd.DataFrame()
data_season_y = data_season_y.append(data_season_y_1, ignore_index = True)

In [28]:
data_season_final_1

,season_1,season_2,season_3,season_4,season_5,season_6,season_7,season_8,season_9,season_10,season_11,season_12,season_13,season_14,season_15,season_16,season_17,season_18,season_19,season_20,season_21
Player,,,,,,,,,,,,,,,,,,,,,
1,0.888889,0.904762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.920635,0.952381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.841270,0.857143,0.873016,0.888889,0.904762,0.920635,0.936508,0.952381,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.920635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46410090,0.253968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46411584,0.269841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47738533,0.984127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47957121,0.984127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48248287,0.984127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# For loop to add more rows

In [29]:
for i in range(2, 21):
    locals()["data_season_y_"+str(i)] = data_season.groupby('Player').nth(-i)
    locals()["data_season_y_"+str(i)].drop(columns = {'turnover'}, inplace = True)

    locals()["data_season_y_"+str(i)]  = pd.merge(locals()["data_season_y_"+str(i)], locals()["data_season_"+str(i+1)], on = ['Player'])

    locals()["data_season_y_"+str(i)].drop(columns = {'season_'+str(i+1)}, inplace = True)
    
    # Find the indices of the lseason non-NaN values in each row
    last_non_nan_indices = np.where(~np.isnan(locals()["data_season_final_"+str(i-1)]), np.arange(locals()["data_season_final_"+str(i-1)].shape[1])[None, :], -1).max(axis=1)
    locals()["data_season_final_"+str(i)] = copy.deepcopy(locals()["data_season_final_"+str(i-1)])

    for j in range(0, len(locals()["data_season_final_"+str(i)])):
        idx = last_non_nan_indices[j]
        locals()["data_season_final_"+str(i)].iloc[j, idx] = np.nan

    locals()["data_season_final_"+str(i)] = locals()["data_season_final_"+str(i)][locals()["data_season_final_"+str(i)]['season_1'].notnull()]
    data_season_final = data_season_final.append(locals()["data_season_final_"+str(i)], ignore_index = True)
    data_season_y = data_season_y.append(locals()["data_season_y_"+str(i)], ignore_index = True)

In [30]:
data_season_final

,season_1,season_2,season_3,season_4,season_5,season_6,season_7,season_8,season_9,season_10,season_11,season_12,season_13,season_14,season_15,season_16,season_17,season_18,season_19,season_20,season_21
0,0.888889,0.904762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.920635,0.952381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.841270,0.857143,0.873016,0.888889,0.904762,0.920635,0.936508,0.952381,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.920635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18627,0.682540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18628,0.603175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18629,0.380952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18630,0.555556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18631,0.253968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
data_season_y.iloc[2, 0]

0.9841269841269842

In [32]:
# Find the indices of the lseason non-NaN values in each row
last_non_nan_indices = np.where(~np.isnan(data_season_final), np.arange(data_season_final.shape[1])[None, :], -1).max(axis=1)

In [33]:
for j in range(0, len(data_season_final)):
    idx = last_non_nan_indices[j]+1
    data_season_final.iloc[j, idx] = data_season_y.iloc[j, 0]

In [34]:
data_season_final

,season_1,season_2,season_3,season_4,season_5,season_6,season_7,season_8,season_9,season_10,season_11,season_12,season_13,season_14,season_15,season_16,season_17,season_18,season_19,season_20,season_21
0,0.888889,0.904762,0.920635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.920635,0.952381,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.841270,0.857143,0.873016,0.888889,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.904762,0.920635,0.936508,0.952381,0.968254,0.984127,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.920635,0.968254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18627,0.682540,0.698413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18628,0.603175,0.619048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18629,0.380952,0.396825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18630,0.555556,0.571429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18631,0.253968,0.269841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data_season_final.fillna(0, inplace = True)

In [36]:
data_season_final.to_csv("season_lstm.csv")